<section class="section-cards section">
  <div class="container">
    <div class="columns is-variable is-multiline is-centered is-8">
      <div class="column is-12">
        <h1 class="section-cards__title">Nuestro equipo</h1>
      </div>
      <div class="column is-6-tablet is-4-desktop">
        <div class="team-card">
          <div class="team-card__img">
            <img src="https://images.unsplash.com/photo-1614805380833-62f701bb74ff?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="team member">
          </div>
          <div class="team-card__border--top"></div>
          <div class="team-card__border--bottom"></div>
          <div class="team-card__border-links">
              <ul>
                <li>
                  <a href="mailto:elcorreoquequieres@correo.com"><em class="far fa-envelope"></em></a>
                </li>
                <li>
                  <a href="https://es.linkedin.com/"><em class="fab fa-linkedin-in"></em></a>
                </li>
              </ul>
          </div>
          <div class="team-card__text">
            <h3 class="team-card__text-name">Marta Cerdá</h3>
           <p class="team-card__text-description">Eligendi, placeat.</p>
         </div>
        </div> <!---team-card end/-->
      </div>
      <div class="column is-6-tablet is-4-desktop">
        <div class="team-card">
          <div class="team-card__img">
            <img src="https://images.unsplash.com/photo-1544053287-37b042a45a17?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="team member">
          </div>
          <div class="team-card__border--top"></div>
          <div class="team-card__border--bottom"></div>
          <div class="team-card__border-links">
              <ul>
                <li>
                  <a href="mailto:elcorreoquequieres@correo.com"><em class="far fa-envelope"></em></a>
                </li>
                <li>
                  <a href="https://es.linkedin.com/"><em class="fab fa-linkedin-in"></em></a>
                </li>
              </ul>
          </div>
          <div class="team-card__text">
             <h3 class="team-card__text-name">Basil Poledouris</h3>
            <p class="team-card__text-description">Lorem, ipsum dolor</p>
          </div>
        </div> <!---team-card end/-->
      </div>
      <div class="column is-6-tablet is-4-desktop">
        <div class="team-card">
          <div class="team-card__img">
            <img src="https://images.unsplash.com/photo-1570158268183-d296b2892211?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="team member">
          </div>
          <div class="team-card__border--top"></div>
          <div class="team-card__border--bottom"></div>
          <div class="team-card__border-links">
              <ul>
                <li>
                  <a href="mailto:elcorreoquequieres@correo.com"><em class="far fa-envelope"></em></a>
                </li>
                <li>
                  <a href="https://es.linkedin.com/"><em class="fab fa-linkedin-in"></em></a>
                </li>
              </ul>
          </div>
          <div class="team-card__text">
            <h3 class="team-card__text-name">Will Smith</h3>
           <p class="team-card__text-description">Voluptate ullam molestias maxime</p>
         </div>
        </div> <!---team-card end/-->
      </div>
      <div class="column is-6-tablet is-4-desktop">
        <div class="team-card">
          <div class="team-card__img">
            <img src="https://images.unsplash.com/photo-1585670210693-e7fdd16b142e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="team member">
          </div>
          <div class="team-card__border--top"></div>
          <div class="team-card__border--bottom"></div>
          <div class="team-card__border-links">
              <ul>
                <li>
                  <a href="mailto:elcorreoquequieres@correo.com"><em class="far fa-envelope"></em></a>
                </li>
                <li>
                  <a href="https://es.linkedin.com/"><em class="fab fa-linkedin-in"></em></a>
                </li>
              </ul>
          </div>
          <div class="team-card__text">
             <h3 class="team-card__text-name">Damià Rotger</h3>
            <p class="team-card__text-description">Enim atque quae</p>
          </div>
        </div> <!---team-card end/-->
      </div>
      <div class="column is-6-tablet is-4-desktop">
        <div class="team-card">
          <div class="team-card__img">
            <img src="https://images.unsplash.com/photo-1614440546103-edcb1439cad3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=662&q=80" alt="team member">
          </div>
          <div class="team-card__border--top"></div>
          <div class="team-card__border--bottom"></div>
          <div class="team-card__border-links">
              <ul>
                <li>
                  <a href="mailto:elcorreoquequieres@correo.com"><em class="far fa-envelope"></em></a>
                </li>
                <li>
                  <a href="https://es.linkedin.com/"><em class="fab fa-linkedin-in"></em></a>
                </li>
              </ul>
          </div>
          <div class="team-card__text">
            <h3 class="team-card__text-name">Laura Messeguer</h3>
           <p class="team-card__text-description">Dolor sit amet</p>
         </div>
        </div> <!---team-card end/-->
      </div>
    </div>
  </div>
</section>