@import "src/scss/ubico/variables";
@import "src/scss/ubico/base";

.section-cards {
  &__title {
    margin-top: 6.375rem;
  }
}

.team-card {
  background: $primary;
  border: 0 1.875rem 1.875rem 0 solid $white;
  display: inline-block;
  margin-bottom: 9rem;
  padding-bottom: 2.1875rem;
  padding-right: 2.1875rem;
  position: relative;
  width: 100%;

  @media (max-width: $media-desktop) {
    width: 92%;
  }

  &__img {
    align-items: center;
    display: flex;
    height: 27.625rem;
    justify-content: center;
    margin: 0;
    overflow: hidden;

    @media (min-width: $media-tablet) {
      height: 20.1875rem;
    }

    @media (min-width: $media-desktop) {
      height: 17.5rem;
    }

    @media (min-width: $media-fullhd) {
      height: 20.1875rem;
    }

    img {
      object-fit: cover;
      transition: 0.3s;
      width: 100%;
    }
  }

  &__border--top {
    background-color: $green;
    bottom: 0;
    height: 4.375rem;
    position: absolute;
    right: -1.875rem;
    top: 0;
    transition: 0.3s;
    width: 1.875rem;
  }

  &__border--bottom {
    background-color: $green;
    bottom: -1.875rem;
    height: 1.875rem;
    position: absolute;
    transition: 0.3s;
    width: 6.25rem;
  }

  &__border-links {
    bottom: -1.875rem;
    position: absolute;
    right: 0;

    ul {
      display: flex;
      justify-content: flex-end;
      padding: 0;

      li {
        font-size: 1.3rem;
        margin-left: 1.25rem;

        &:first-child {
          margin: 0;
        }
      }
    }
  }

  &__text {
    bottom: -12.625rem;
    left: 0;
    position: absolute;

    &-name {
      color: $primary;
      font-size: 1.25rem;
      font-weight: bold;
      margin-bottom: 0.5625rem;
      margin-top: 1.3125rem;
    }

    &-description {
      color: $softgray-300;
      font-size: 0.875rem;
      margin-bottom: 6.25rem;
    }
  }

  &:hover {
    .team-card__img {
      img {
        transform: scale(1.2);
      }
    }

    .team-card__border--top {
      height: 2.5rem;
    }

    .team-card__border--bottom {
      width: 8.125rem;
    }
  }
}
