<app-navbar-mobile [showTitle]="true" [showMenuButton]="false" [title]="'Detalle'" [shadow]="true" [fixed]="false">
</app-navbar-mobile>
<div class="spinner--container" *ngIf="loading">
  <z-loading type="primary" size="large"></z-loading>
</div>

<div *ngIf="!error">
  <div *ngIf="!loading">
    <app-promo-detail-mobile *ngIf="promo" [promo]="promo" [featuredPromo]="selectedFeaturePromo">
    </app-promo-detail-mobile>

    <app-empty-state-grid *ngIf="!promo" [showOpenFilterButton]="true" (showFilter)="onErrorStateButtonPressed()"
      [emptyStateData]="emptyStateData">
    </app-empty-state-grid>
  </div>
</div>

<div *ngIf="error">
  <app-error-state (retryClicked)="retry()"></app-error-state>
</div>
<div class="separator" *ngIf="!promo"></div>
<app-footer-ncom *ngIf="!loading"></app-footer-ncom>