.w2f-mobile-menu {
  background: #FFFFFF;
  bottom: 0;
  box-sizing: border-box;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 999;

  &__header {
    background-color: #18188E;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-align: left;

    &__logo {
      width: 150px;
    }

    &__close {
      color: white;
    }
  }

  &__body {
    margin: 20px;
    text-align: left;

    &__button {
      border: 1px solid currentColor;
      height: fit-content;
    }

    &__list__item {
      border: 0;
      color: #333333;
      display: flex;
      line-height: 20px;
      padding: 15px 10px;
      text-align: left;
      width: 100%;

      &__container {
        display: flex;
        flex-shrink: 0;
        margin-right: 16px;
      }
    }
  }
}

// TODO: change this. Class Global of MatDialog (Modal)
::ng-deep .container-custom-modal .mat-dialog-container {
  background-color: white;
  border-radius: 0;
  color: black;
  padding: 0;
}
