<div class="w2f-modal-menu">
  <div class="w2f-modal-menu__header">
    <button class="w2f-modal-menu__header__close" (click)="closeModal()"  mat-icon-button>
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div class="w2f-modal-menu__body">
    <div *ngFor="let item of data" class="ml-5 mr-5">
      <h4 class="columns__title">{{item.steps}}</h4>
      <ul>
        <li *ngFor="let option of item.options" class="is-align-content-center">
          <i class="mr-2 columns__icon fas" [class]="option.icon"></i>
          <a [routerLink]="option.url">{{option.name}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
