.w2f-modal-menu {
  &__header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;

    &__close {
      color: black;
    }
  }

  &__body {
    text-align: left;
  }

  a {
    color: black;
  }
}
