<mat-card *ngIf="card" class="w2f-card px-0 py-0" [class.w2f-card__image--zoom]="card?.imageZoom"
  [class.w2f-card__overflow--hidden]="this.imageIsBackground">
  <mat-card-content class="w2f-card__content">
    <div *ngIf="card?.generalTags.length > 0" class="w2f-card__item__top">
      <w2fly-tag class=" column is-12 my-0 py-0 is-pulled-right" [tags]="card?.generalTags">
      </w2fly-tag>
    </div>
    <div class="w2f-card__background"
      [style.background]="this.imageIsBackground?'url('+(card?.urlImage | w2flyImgCdn)+') no-repeat center / cover':''">
    </div>
    <div class="columns is-centered is-multiline">
      <div class="column is-full">
        <img *ngIf="!imageIsBackground" [src]="card?.urlImage | w2flyImgCdn"
          [class.w2f-card__image--zoom]="card?.imageZoom" [alt]="card?.descriptionImage"
          class="w2f-card__item__image px-0 mx-0 py-0 my-0">
      </div>
      <div *ngIf="card?.title || card?.content" class="column is-12">
        <div class="columns is-centered is-multiline">
          <h3 class=" column is-12 w2f-card__item__title" *ngIf="card?.title">
            {{card?.title}}
          </h3>
          <p *ngIf="card?.content" class="column is-12 w2f-card__content-text">
            {{card?.content}}
          </p>
        </div>
      </div>
      <div class="column is-12 w2f-card__item__bottom">
        <div class="columns is-centered is-multiline">
          <div *ngIf="card?.titleImage" class="column is-12 my-0 py-0">
            <h3 class="w2f-card__item__title__image">{{card?.titleImage}}</h3>
          </div>
          <ng-container *ngIf="card?.categoryTags.length > 0">
            <w2fly-tag class=" column is-12 my-0 py-0" [tags]="card.categoryTags">
            </w2fly-tag>
          </ng-container>
          <!-- <ng-container *ngIf="card?.avatar.length > 0">
            <w2fly-avatar class=" column is-12 my-0 py-0" [avatar]="card.avatar">
            </w2fly-avatar>
          </ng-container> -->
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>