@import "~@zumo/core/colors";

.spinner--container {
  align-items: center;
  display: flex;
  height: 90vh;
  justify-content: center;
}

.promo--container-ncom {
  margin-top: 130px;
}

.featured--container-ncom {
  margin-top: 130px;
  max-width: 1336px;
  min-width: 1128px;
}

.filter--container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-left: 16px;
}

.message--counter {
  color: #333333;
  font-family: Roboto;
  font-size: 26px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.2px;
  line-height: 1.88;
}

.promotions--list {
  display: flex;
  flex-wrap: wrap;

  &__items {
    margin: 8px 0;
  }
}

.promo--supra--header {

  &__label {
    color: #666666;
    font-family: Roboto;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    letter-spacing: -0.08px;
    line-height: 1.86;
  }

  &__action {
    color: #333333;
    font-family: Roboto;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    letter-spacing: -0.1px;
    line-height: 1.44;

    &:hover {
      cursor: pointer;
    }
  }
}

.detail {
  margin-top: 86px;
  padding-left: 16px;
}

img {
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  max-height: 200px;
  max-width: 1096px;
  width: 100%;
}

.separator {
  height: 30px;
  width: 100%;
}
