<div *ngIf="job" class="app-job-detail">
  <ng-template #subtitleTemplate let-property="property">
    <w2m-subtitle [ngClass]="getClass(property)" [w2mSubtitle]="getSubtitle(job[property])">
      <div title-content [innerHTML]="job[property] | w2mSafeToHtml"></div>
    </w2m-subtitle>
  </ng-template>

  <ng-container [ngTemplateOutlet]="subtitleTemplate"
    [ngTemplateOutletContext]="{ property: JobDetailSubtitles.TITLE_DETAIL }">
  </ng-container>
  <div class="small-line"></div>
  <ng-container [ngTemplateOutlet]="subtitleTemplate"
    [ngTemplateOutletContext]="{ property: JobDetailSubtitles.ADDRESS }">
  </ng-container>
  <ng-container [ngTemplateOutlet]="subtitleTemplate"
    [ngTemplateOutletContext]="{ property: JobDetailSubtitles.RESUME }">
  </ng-container>
  <div class="app-job-detail__columns">
    <ng-container [ngTemplateOutlet]="subtitleTemplate"
      [ngTemplateOutletContext]="{ property: JobDetailSubtitles.FUNCTIONS }">
    </ng-container>
    <ng-container [ngTemplateOutlet]="subtitleTemplate"
      [ngTemplateOutletContext]="{ property: JobDetailSubtitles.REQUISITES }">
    </ng-container>
  </div>
  <ng-container [ngTemplateOutlet]="subtitleTemplate"
    [ngTemplateOutletContext]="{ property: JobDetailSubtitles.INSCRIPTION }">
  </ng-container>
  <w2m-link *ngIf="job.urlJob" [urlLink]="job.urlJob">
    <button>{{ job.textButton }}</button>
  </w2m-link>
</div>
