<app-routing-tabs [filter]='true' (openFilter)="openFilterDialog()"></app-routing-tabs>

<div *ngIf="!error">

  <ng-container *ngIf="loading && loadingFeatured; then isLoading; else partialLoading"></ng-container>

  <ng-template #isLoading>
    <div class="spinner__container--initial" *ngIf="loading">
      <z-loading type="primary" size="large"></z-loading>
    </div>
  </ng-template>

  <ng-template #partialLoading>
    <div class="message-container" *ngIf="!location && showLocationAlert">
      <z-message [closable]="true" [text]="messageLocationText" [type]="'warning'" appDebounceClick
        (debounceClick)="hideLocationMessage()" [debounceTime]="50">
      </z-message>
    </div>
    <div class="geolocation-container margin-top-16">
      <app-promo-geolocation (locationBlocked)="locationBlocked()" (locationFetched)="locationFetched($event)">
      </app-promo-geolocation>
    </div>
    <app-filter-dialog *ngIf="openFilter" (close)="closeFilterDialog()" (filterApply)="onFilterApplied($event)"
      [categoriesFiltered]="categoriesFilteredItems" [provinceFiltered]="provinceFiltered"
      [localityFiltered]="localityFiltered" [commerceNameFiltered]="commerceNameFiltered">
    </app-filter-dialog>
    <div class="spinner__container--featured" *ngIf="loadingFeatured">
      <z-loading type="primary" size="large"></z-loading>
    </div>

    <div *ngIf="!loadingFeatured">
      <app-promo-carousel [enableDotClick]="false" [height]="'220px'" class="carousel--container"
        *ngIf="featuredPromotions.length" [canSwipe]="true" [showDots]="true" [showArrows]="false" [infinite]="false"
        [autoPlay]="false" (change)="onSelectedSlide($event)">
        <app-promo-carousel-card [singleSlide]="true" (slideSelect)="selectedSlide($event)"
          *ngFor="let promo of featuredPromotions" [slide]="promo">

          <app-lazy-image *ngIf="promo" [image]="promo.mainImageName" [alt]="promo.alt" [classImage]="'carousel-img'">
          </app-lazy-image>

        </app-promo-carousel-card>
      </app-promo-carousel>
    </div>

    <div class="container">
      <div class="filter--container" *ngIf="isFilteredSearchActive() && !loading">
        <app-promo-counter-label *ngIf="!loading" class="promos--counter" [isFilterApply]="isFilterApply"
          [promosRendered]="promosRendered" [promosCount]="totalPromotionsNumber">
        </app-promo-counter-label>
      </div>
      <div *ngIf="!loading">
        <div class="chips--container" *ngIf="isFilteredSearchActive()">
          <app-info-chips-mobile *ngIf="commerceNameFiltered" [type]="'commerceName'" [data]="[commerceNameFiltered]"
            (edit)="openFilterDialog()" (close)="onCloseChip($event)"></app-info-chips-mobile>
          <app-info-chips-mobile *ngIf="locationFilteredData().length" [type]="'location'"
            [data]="locationFilteredData()" (edit)="openFilterDialog()" (close)="onCloseChip($event)">
          </app-info-chips-mobile>
          <app-info-chips-mobile *ngIf="mapCategoriesFilteredFromFilterBody().length > 0" [type]="'categories'"
            [data]="mapCategoriesFilteredFromFilterBody()" (edit)="openFilterDialog()" (close)="onCloseChip($event)">
          </app-info-chips-mobile>
        </div>
      </div>
      <div class="spinner__container--initial" *ngIf="loading && isFilteredSearchActive()">
        <z-loading type="primary" size="large"></z-loading>
      </div>
      <app-promo-list-mobile *ngIf="isFilteredSearchActive()"
        (loadMorePromotionsRequested)="onloadMorePromotionsRequested()" (showFilter)="openFilterDialog()"
        [loading]="loading" [isLastPage]="currentPageNumberIsLastPage()" [promos]="promos"
        [promosRendered]="promosRendered">
      </app-promo-list-mobile>
    </div>
    <div *ngIf="!isFilteredSearchActive()">
      <div *ngFor="let rule of rules">
        <app-promo-horizontal-grid-mobile [rule]=rule (openRuleDetail)="openRuleDetail($event)">
        </app-promo-horizontal-grid-mobile>
      </div>

      <div class="margin-top-8 margin-bottom-64" *ngIf="loadingHPFinished && !hasHorizontalPromos">
        <app-error-state-web [errorStateData]="emptyStateData" (retryClicked)="showFilters()">
        </app-error-state-web>
      </div>
    </div>

  </ng-template>
</div>
<div *ngIf="error" class="BussinesRules-container container margin-top-8 margin-bottom-64">
  <app-error-state (retryClicked)="retry()">
  </app-error-state>
</div>

<ng-container *ngIf="!loading">
  <app-footer-ncom></app-footer-ncom>
</ng-container>
