@import "~@zumo/core/colors";

.BussinesRules--container {
  height: 100%;
  padding: 0 24px 20px;
}

.carousel--container {
  margin: 16px 24px 0;
  max-height: 220px;
}

.message-container {
  padding: 16px 24px 0 24px;
}

.spinner__container {

  &--initial {
    align-items: center;
    display: flex;
    height: 80vh;
    justify-content: center;
  }

  &--featured {
    align-items: center;
    display: flex;
    height: 45vh;
    justify-content: center;
  }

  &--suggested {
    align-items: center;
    display: flex;
    height: 45vh;
    justify-content: center;
  }
}

:host /deep/ .carousel-img {
  max-height: 180px;
  width: 99%;
}

.promos--counter {
  color: $color-grayscale-800;
  font-family: Roboto;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.88;
}

.filter--container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.chips--container {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 16px;
  overflow-x: auto;
}

.geolocation-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
