<w2fly-header></w2fly-header>
<section class="section">
  <h2>
    {{'W2FLY.MANAGEMENT.TITLE_FIRST_SECTION' | translate}}
  </h2>
  <h1>
    {{'W2FLY.HOME.TITLE' | translate}}
  </h1>
  <div class="columns" *ngIf="listCards$ | async as listCards; else errorCards">
    <ng-template *ngIf="listCards.length; else noCards"></ng-template>
    <div class="column" *ngFor="let card of listCards">
      <w2fly-basic-card [card]="card"></w2fly-basic-card>
    </div>
    <ng-template #noCards>
      <div class="row">
        {{'W2FLY.COMMON.NO_DATA' | translate}}
      </div>
    </ng-template>
  </div>
  <ng-template #errorCards>
    <div class="row">
      {{'W2FLY.COMMON.ERROR' | translate}}
    </div>
  </ng-template>
</section>
<section class="section">
  <h2>
    {{'W2FLY.MANAGEMENT.TITLE_SECOND_SECTION' | translate}}
  </h2>
  <ng-container *ngIf="listHoverCards$ | async as listHoverCards; else errorCards">
    <div class="columns">
      <ng-container *ngIf="listHoverCards.length; else noCards">
        <w2fly-hover-card class="column" *ngFor="let card of listHoverCards" [card]="card"></w2fly-hover-card>
      </ng-container>
      <ng-template #noCards>
        <div class="row">
          {{'W2FLY.COMMON.NO_DATA' | translate}}
        </div>
      </ng-template>
    </div>
  </ng-container>
  <ng-template #errorCards>
    <div class="row">
      {{'W2FLY.COMMON.ERROR' | translate}}
    </div>
  </ng-template>
</section>
<section class="section">
  <h2>
    {{'W2FLY.MANAGEMENT.TITLE_THIRD_SECTION' | translate}}
  </h2>
  <!-- <ng-container *ngIf="carousel$ | async as carousel">
    <w2fly-carousel [carousel]="carousel"></w2fly-carousel>
  </ng-container> -->
  <w2fly-carousel-v2></w2fly-carousel-v2>
  <ng-template #errorCards>
    <div class="row">
      {{'W2FLY.COMMON.ERROR' | translate}}
    </div>
  </ng-template>
</section>
<w2fly-footer></w2fly-footer>
