@import "src/scss/brands/w2fly/variables";
@import "src/scss/brands/w2fly/mixins";

.w2f-home-hero {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  height: 37.5rem;
  justify-content: space-between;

  &__image {
    filter: brightness(0.9);
    height: 37.5rem;
    object-fit: cover;
    object-position: center center;
    position: absolute;
    width: 100%;
  }

  &__content {
    align-items: flex-end;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    margin-bottom: 1.25rem;
    padding: 3rem 1.5rem;
  }

  &__title {
    color: $headings-color-light;
  }

  &__subtitle {
    color: $text-color-light;
  }
}

.w2f-home-search {
  margin-top: -3.75rem;
  padding-bottom: 0;
  padding-top: 0;
}

.w2f-home-introduction {
  @include w2f-padding-section;

  &__title {
    color: $headings-color;
    margin-bottom: 0;
    width: 80%;
  }

  &__content {
    p {
      margin-bottom: 1.5rem;
    }
  }

  &__button {
    margin-bottom: 3rem;
  }
}

.w2f-home-form {
  @include w2f-padding-section;

  background-color: $background;

  &__form-container {
    margin-top: 8.75rem;
    z-index: 2;

    @media (max-width: $media-tablet) {
      margin-top: 0;
    }
  }

  &__image-container {
    margin-left: -6.25rem;

    img {
      border-top-left-radius: 5rem;
      height: 40.125rem;
      object-fit: cover;
      width: 100%;
    }

    @media (max-width: $media-tablet) {
      margin-left: 0;

      img {
        height: 25rem;
      }
    }

    @media (max-width: $media-tablet) {
      margin-left: 0;

      img {
        height: 25rem;
      }
    }
  }
}

.w2f-home-values {
  @include w2f-padding-section;

  &__image {
    border-top-right-radius: 5rem;
    height: 40rem;
    margin-left: -1.5625rem;
    margin-top: 25rem;
    object-fit: cover;
    position: absolute;
    width: 55%;

    @media (min-width: $media-tablet) {
      margin-top: 0;
    }
  }

  &__title {
    color: $headings-color;
  }

  &__card {
    background-color: $background;
    border-radius: 0.625rem;
    padding: 3rem;

    &--semicircle {
      border-radius: 0 6.25rem 6.25rem 0;
      height: 1.25rem;
      left: -1.25rem;
      position: relative;
      width: 0.625rem;

      &--red {
        @extend .w2f-home-values__card--semicircle;

        background: $red;
      }

      &--turquoise {
        @extend .w2f-home-values__card--semicircle;

        background: $turquoise;
      }

      &--blue {
        @extend .w2f-home-values__card--semicircle;

        background: $blue;
      }
    }

    &--title {
      color: $headings-color;
      margin-bottom: 0;
      margin-top: -1.875rem;
    }

    &--content {
      margin-bottom: 0;
    }
  }

  &--spacing {
    @media (min-width: $media-tablet) {
      margin-bottom: 2rem;
      margin-top: 0;
    }

    @media (min-width: $media-desktop) {
      margin-bottom: 4rem;
      margin-top: 4rem;
    }

    @media (min-width: $media-widescreen) {
      margin-bottom: 5rem;
      margin-top: 5rem;
    }

    @media (min-width: $media-fullhd) {
      margin-bottom: 7.5rem;
      margin-top: 7.5rem;
    }
  }
}

.w2f-home-blog {
  @include w2f-padding-section;

  background-color: $background;

  &__title {
    color: $headings-color;
  }

  &__button-container {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
  }
}

.w2f-home-adds {
  @include w2f-padding-section;

  &__divider {
    display: flex;
  }

  &__line {
    border-top: 0.0625rem solid $soft-text;
    margin: 0.75rem 1rem 0.75rem 0;
    opacity: 0.4;
    top: 0.625rem;
    width: 100%;
  }

  &__text {
    color: $soft-text;
    font-size: 0.75rem;
    text-transform: uppercase;
  }
}

.w2f-button {
  &--large {
    height: 3.3125rem;
  }
}
