@font-face {
  font-family: 'Sofia Pro Soft W01 Light';
  src: url('../../../../assets/fonts/16c30ae3-d4ae-45cf-98f5-063a31797037.woff2') format('woff2'), url('../../../../assets/fonts/4e5c21a8-b817-4557-af3a-a9ef74e4f06e.woff') format('woff');
}

@font-face {
  font-family: 'Sofia Pro Soft W01 Regular';
  src: url('../../../../assets/fonts/7a55b9c9-872c-44cf-9634-f109c0fb3803.woff2') format('woff2'), url('../../../../assets/fonts/b02f0f38-5fda-4bd3-94f3-a0232d8b59e5.woff') format('woff');
}

@font-face {
  font-family: 'Sofia Pro Soft W01 Medium';
  src: url('../../../../assets/fonts/04de22ae-8a96-4636-bbca-b35be3817515.woff2') format('woff2'), url('../../../../assets/fonts/e357a762-c228-46ab-bb42-a187bc757716.woff') format('woff');
}

@font-face {
  font-family: 'Sofia Pro Soft W01 Bold';
  src: url('../../../../assets/fonts/71dbe71e-6360-4302-a292-9ced6594bb84.woff2') format('woff2'), url('../../../../assets/fonts/f29594b2-3545-4486-b795-53b44304f614.woff') format('woff');
}

//Typography variables
$base-font-family: 'Montserrat', sans-serif;
$headings-font-family: 'Sofia Pro Soft W01 Medium', sans-serif;

// TYPOGRAPHY

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$w2f-typography: mat-typography-config(
  $font-family: $base-font-family,
  $headline: mat-typography-level(50px, 60px, 500, $headings-font-family),
  $title: mat-typography-level(38px, 48px, 500, $headings-font-family),
  $subheading-2: mat-typography-level(28px, 36px, 500, $headings-font-family),
  $subheading-1: mat-typography-level(24px, 31px, 500, $headings-font-family),
  $body-1: mat-typography-level(16px, 26px, 400),
  $body-2: mat-typography-level(14px, 22px, 400),
  $caption: mat-typography-level(16px, 20px, 400, $headings-font-family),
  $button: mat-typography-level(18px, 23px, 500, $headings-font-family),
  $display-1: mat-typography-level(34px, 40px, 500, $headings-font-family),
  $display-2: mat-typography-level(45px, 48px, 500, $headings-font-family),
  $display-3: mat-typography-level(56px, 56px, 500, $headings-font-family),
  $display-4: mat-typography-level(112px, 112px, 500, $headings-font-family),
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($w2f-typography);
