<section class="w2f-info-image-cards section" *ngIf="uuid | sections | async as data;" [class.section-background]="this.data.backgroundColor">
  <ng-container *ngFor="let component of data.components" [ngSwitch]="component.type">
      <ng-container *ngSwitchCase="ComponentType.ComponentImage">
        <div class="test-image">
          <ng-template [lazyComp]="component.type"
            [inputs]="{data: component.data}">
          </ng-template>
          <!-- <ng-template #image></ng-template> -->
        </div>
        <!-- <w2fly-image  class="w2f-info-image-cards__image"
                      *ngIf="item?.field"
                      [data]="item.field | w2flyCommonField">
        </w2fly-image> -->
      </ng-container>
      <ng-container *ngSwitchCase="ComponentType.ComponentInfoText">
        <div class="container w2f-info-image-cards--spacing">
          <div class="columns is-variable">
            <div class="column is-4-desktop is-offset-8-desktop">
              <ng-template [lazyComp]="component.type"
              [inputs]="{w2flyTitle: component.data}">
              </ng-template>
              <!-- <ng-template #subtitle></ng-template> -->

              <!-- <w2fly-subtitle [w2flyTitle]="item.field"></w2fly-subtitle> -->
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="ComponentType.ComponentCardsText">
        <div class="container w2f-info-image-cards__info">
          <div class="columns is-variable is-multiline">
            <div class="hola">
              <ng-template [lazyComp]="component.type"
              [inputs]="{data: component.data}">
              </ng-template>
              <!-- <ng-template #cardText></ng-template> -->
            </div>
            <!-- <ng-container *ngIf="item?.field">
              <div class="column is-12-tablet is-4-desktop"
                   *ngFor="let card of item.field">
                <w2fly-card-text [data]="card"></w2fly-card-text>
              </div>
            </ng-container> -->
          </div>
          <ng-container *ngIf="item?.information">
            <div class="columns is-variable is-multiline">
              <div class="column is-12" [innerHTML]="item.information | w2flySafeToHtml"></div>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
</section>
