@import "src/scss/ubico/variables";
@import "src/scss/ubico/base";

.section-separator {
  &__content {
    align-items: center;
    display: flex;

    &-brand {
      height: 7.125rem;
      max-width: 12.5rem;
      min-width: 12.5rem;

      img {
        height: 100%;
        object-fit: contain;
        padding: 0 3.125rem;
        width: 100%;
      }

      @media (min-width: $media-tablet) {
        max-width: 15.625rem;
        min-width: 15.625rem;

        img {
          padding: 0 3.75rem;
        }
      }

      @media (min-width: $media-desktop) {
        max-width: 18.125rem;
        min-width: 18.125rem;

        img {
          padding: 0 3.75rem;
        }
      }
    }
  }

  hr {
    background-color: $softgray-300;
    height: 0.0625rem;
    width: 100%;
  }
}
