<div>
  <div class="row">
    <ng-container *ngFor="let promo of promosRendered; let i=index;">
      <div class="col-xs-6 margin-bottom-16" *ngIf="isBrowser">
        <app-card-with-tag-mobile [analitycsCreativeClass]="analitycsCreativeClass" [promo]="promo" [index]="i">
        </app-card-with-tag-mobile>
      </div>
      <div class="col-xs-6 margin-bottom-16" *ngIf="i <= indexShowPromoMobile && !isBrowser">
        <app-card-with-tag-mobile [analitycsCreativeClass]="analitycsCreativeClass" [promo]="promo" [index]="i">
        </app-card-with-tag-mobile>
      </div>
    </ng-container>
  </div>
  <div class="row center-xs">
    <z-button *ngIf="(!isLastPage || (loading && isLastPage)) && promosRendered.length > 0" text="Ver más promociones"
      type="secondary" [disabled]="loading" (clickButton)="onLoadMorePromotions()" [isLoading]="loading"></z-button>
  </div>
  <div class="separator"></div>

  <app-empty-state-grid [showOpenFilterButton]="showOpenFilterButton" (showFilter)="openFilterDialog()"
    *ngIf="!loading && promosRendered.length === 0">
  </app-empty-state-grid>
</div>