@import "src/scss/brands/w2fly/variables";
@import "src/scss/brands/w2fly/mixins";

.section-banner-data {
  color: $white;
  padding: 0;
  position: relative;

  &__background {
    &--img {
      height: 100%;
      left: 0;
      object-fit: cover;
      opacity: 0.55;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
    }

    &--color {
      background-color: rgba(0, 0, 0, 0.95);
      z-index: 5;
    }
  }

  .banner-data {
    padding: 5.625rem 3.75rem 2.5rem 3.75rem;

    @media (min-width: $media-desktop) {
      padding: 5.625rem 0 2.5rem 0;
    }

    &__head {
      color: $white;
      margin-bottom: 2.875rem;
      text-align: center;

      &-title {
        color: $white;
        font-size: 1.25rem;
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    &__stat {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 3.125rem;

      &-number {
        color: $white;
        font-size: 3.25rem;
        font-weight: 300;

        &::after {
          background-color: $green;
          content: " ";
          display: block;
          height: 0.3125rem;
          margin-top: 1.375rem;
          width: 1.875rem;
        }

        &-text {
          color: $white;
          font-size: 1.375rem;
          font-weight: 400;
          margin: 1.125rem 0 0 0;
        }
      }
    }
  }
}
