<mat-toolbar class="w2f-header" [ngClass]="{ headerscrolled: headerScrolled }">
  <img src="assets/img/w2fly_logo.svg" class="w2f-header__logo" alt="w2fly company logo">
  <div class="w2f-header__menu is-hidden-touch is-hidden-desktop-only">
    <ng-container *ngFor="let menu of listMenu;let last = last">
      <button *ngIf="menu.subMenu.length === 0" mat-button>
        <i *ngIf="menu.icon" class="fas" [class]="menu.icon"></i>
        {{menu.name}}
      </button>
      <button *ngIf="menu.subMenu && menu.subMenu.length > 0" mat-button [matMenuTriggerFor]="menuFloat">
        <i *ngIf="menu.icon" class="fas" [class]="menu.icon"></i>
        {{menu.name}}
        <i class="fas fa-angle-down"></i>
      </button>
      <mat-menu class="menu-customize" #menuFloat="matMenu" >
        <w2fly-float-menu [menu]="menu"></w2fly-float-menu>
      </mat-menu>
    </ng-container>
  </div>
  <span class="w2f-header__spacer"></span>
  <div class="is-flex is-hidden-touch is-hidden-desktop-only">
    <language-picker></language-picker>
    <button class="w2f-header__button" mat-stroked-button>{{'W2FLY.HEADER.BTN_MANAGE_MY_COMPANY' | translate | uppercase}}</button>
  </div>
  <button class="is-hidden-widescreen" (click)="showMobileMenu = !showMobileMenu" mat-icon-button>
    <i class="fas fa-bars"></i>
  </button>
</mat-toolbar>
<w2fly-mobile-menu *ngIf="showMobileMenu"
  [itemsMenu]="listMenu"
  (closeClicked)="onCloseMobileMenu()"
></w2fly-mobile-menu>
