@import "~@zumo/core/colors";

.block--title {
  color: $color-grayscale-800;
  font-family: Roboto;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.1px;
  line-height: 1.44;
}

.block--text {
  color: $color-grayscale-600;
  font-family: Roboto;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1.5;
}

.select {
  color: $color-brand-500;
  cursor: pointer;
  font-family: Roboto;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  height: 24px;
  letter-spacing: normal;
  line-height: 1.5;
  width: 154px;
}

.others {
  margin-top: 33px;;
}

.btn-link {
  color: $color-brand-500;
  display: block;
  font: bold 18px URWGeometric;
  letter-spacing: 0.1px;
  margin: 8px 0;
  text-decoration: underline;
}
