<div *ngIf="showMore" class="row">
  <div class="col-xs-6">
    <p class="block--title margin-bottom-8">{{ 'PAGES.PROMO_DETAIL.WHERE' | translate }}</p>
    <p class="block--text" *ngIf="!isOnline"> {{ promoSelected }}</p>

    <div class="promo--description-text">
      <p class="block--text" *ngIf="addresses.mainAddress">{{ addresses.mainAddress.address }},
        {{ addresses.mainAddress.locality }}, {{ addresses.mainAddress.province }}</p>
      <a class="btn-link" *ngIf="isOnline && addresses.mainAddress" [href]="this.webPageLink" target="_blank"
        rel="nofollow noopener noreferrer">{{ webPageShowed }}</a>
    </div>
    <div class="block--text" *ngIf="isOnline && !addresses.mainAddress">
      <p>Válida solo para compras online</p>
      <a class="btn-link" [href]="this.webPageLink" target="_blank"
        rel="nofollow noopener noreferrer">{{ webPageShowed }}</a>
    </div>
  </div>
  <div class="col-xs-6 no-print" >
    <div class="margin-top-24" *ngIf="!moreLocalsFinished">
      <z-loading type="primary" size="large"></z-loading>
    </div>
    <div *ngIf="moreLocalsFinished && addresses.otherAddresses.length > 0">
      <p class="block--text others">Otros locales adheridos</p>
      <span class="select" (click)="moreLocals()">Seleccionar otro local</span>
    </div>
  </div>
</div>
