@import "~@zumo/core/colors";

.divider {
  background-color: $color-grayscale-300;
  height: 1px;
  margin: 24px 0;
}

.block--title {
  color: $color-grayscale-800;
  font-family: Roboto;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.1px;
  line-height: 1.44;
}

.block--text {
  color: $color-grayscale-600;
  font-family: Roboto;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1.5;
}

.promo--description-counter {
  color: $color-brand-700;
  font-family: Roboto;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.33;
}
