<section class="section section-banner-data brand-color">
  <!-- <img class="section-banner-data__background--img"
    [src]="data.image"
    [alt]="data.altText"> -->

  <div class="section-banner-data__background--color">
    <div class="container">

      <div class="banner-data">
      
        <div class="columns is-multiline is-centered is-variable is-mobile">
          <div class="column is-12-mobile is-three-fifths-desktop">
            <div class="banner-data__head">
              <h4 class="banner-data__head-title">Hola</h4>
              <p class="banner-data__head-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus dicta recusandae consequatur sint, illum omnis aut, voluptatum magnam nobis alias doloribus impedit! Eum cupiditate nemo repellendus, rem necessitatibus rerum iusto!</p>
            </div>
          </div>
        </div>

        <div appear (appear)="onAppear()" class="columns is-multiline is-variable is-mobile">
          <ng-container *ngIf="hasAppeared">
            <div *ngFor="let item of [1,2,3,4,5]" class="column is-6-mobile is-4-tablet is-2-desktop">
              <div class="banner-data__stat">
                <div>
                  <h3 [appAnimatedCounter]="parseInt('500')" [delay]="1000" class="banner-data__stat-number"></h3>
                  <h5 class="banner-data__stat-number-text">Esto es una prueba</h5>
                </div>
              </div>
            </div>
          </ng-container>
        </div>

      </div>
      
    </div>
  </div>
  
</section>