<footer *ngIf="data.fields as footer" class="section w2m-footer">
  <div class="container">
    <div class="w2m-footer__image">
      <img class="w2m-footer__logo" src="assets/img/logo-ubico-dark.svg" alt="">
    </div>
    <div class="w2m-footer__container columns is-multiline is-variable">
      <ng-container *ngFor="let item of footer.items">
        <div *ngIf="item.subItems.length" class="column is-4-tablet is-3-desktop is-2-widescreen">
          <h3 class="w2m-footer__title">{{item.name}}</h3>
          <div class="w2m-footer__border"></div>
          <div class="w2m-footer__links">
            <w2m-link class="w2m-footer__links--link" *ngFor="let subItem of item.subItems" [urlLink]="subItem.url">
              {{subItem.name}}
            </w2m-link>
          </div>
        </div>
      </ng-container>
      <div
        class="column is-12-tablet is-3-desktop is-4-widescreen is-3-fullhd is-offset-2-widescreen is-offset-3-fullhd w2m-footer__form">
        <app-form-contact [formConfig]="footer.form"></app-form-contact>
      </div>
    </div>
    <div class="w2m-footer__social">
      <w2m-link class="w2m-footer__social--link" *ngFor="let icon of getItemIcons(footer.items)" [urlLink]="icon.url">
        <em class="fab" [class]="'fa-'+icon.icon"></em>
      </w2m-link>
    </div>
    <div *ngIf="footer.legal.length" class="w2m-footer__politicas">
      <w2m-link class="w2m-footer__politicas-link" *ngFor="let legal of footer.legal" [urlLink]="legal.url">
        {{legal.title}}
      </w2m-link>
    </div>
    <div *ngIf="footer.copyright" class="w2m-footer__copyright"
         [innerHTML]="footer.copyright | w2mSafeToHtml">
    </div>
  </div>
</footer>
