//Typography variables
$base-font-family: 'Montserrat', sans-serif;
// TYPOGRAPHY

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$w2f-typography: mat-typography-config(
  $font-family: $base-font-family,
  $headline: mat-typography-level(50px, 60px, 500),
  $title: mat-typography-level(38px, 48px, 500),
  $subheading-2: mat-typography-level(28px, 36px, 500),
  $subheading-1: mat-typography-level(24px, 31px, 500),
  $body-1: mat-typography-level(16px, 26px, 400),
  $body-2: mat-typography-level(14px, 22px, 400),
  $caption: mat-typography-level(16px, 20px, 400),
  $button: mat-typography-level(18px, 23px, 500),
  $display-1: mat-typography-level(34px, 40px, 500),
  $display-2: mat-typography-level(45px, 48px, 500),
  $display-3: mat-typography-level(56px, 56px, 500),
  $display-4: mat-typography-level(112px, 112px, 500),
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($w2f-typography);
