@import "~@zumo/core/colors";

.legal {

  font-family: Roboto;

  &__title {
    color: $color-grayscale-800;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.1px;
    line-height: 1.44;
  }

  &__subtitle {
    color: $color-grayscale-600;
    font-size: 18px;
    line-height: 1.5;
  }

  &__text {
    color: $color-grayscale-400;
    font-size: 16px;
    font-weight: 500;
  }
}
