<app-navbar-mobile [title]="'title'" [filter]="false"></app-navbar-mobile>

<div *ngIf="!error">

    <ng-container *ngIf="loading && loadingFeatured; then isLoading; else partialLoading"></ng-container>

    <ng-template #isLoading>
        <div class="spinner__container--initial" *ngIf="loading">
            <z-loading type="primary" size="large"></z-loading>
        </div>
    </ng-template>

    <ng-template #partialLoading>

        <app-filter-dialog *ngIf="openFilter" (close)="closeFilterDialog()" (filterApply)="onFilterApplied($event)"
            [categoriesFiltered]="categoriesFiltered" [provinceFiltered]="provinceFiltered"
            [localityFiltered]="localityFiltered" [commerceNameFiltered]="commerceNameFiltered">
        </app-filter-dialog>

        <div class="spinner__container--suggested" *ngIf="loading">
            <z-loading type="primary" size="large"></z-loading>
        </div>

        <div *ngIf="!loading">
            <div class="BussinesRulesDetail--container">
                <div class="counter margin-top-24 margin-bottom-24">
                    <p class="z-subtitle greet">{{totalPromotionsNumber}} promos en <strong
                            class="strong">{{title | elypsis: 16 }}</strong></p>
                </div>
                <app-promo-list-mobile (loadMorePromotionsRequested)="onloadMorePromotionsRequested()"
                    (showFilter)="openFilterDialog()" [loading]="loadingPage"
                    [isLastPage]="currentPageNumberIsLastPage()" [promos]="promos" [promosRendered]="promosRendered"
                    [analitycsCreativeClass]="analyticsClass">
                </app-promo-list-mobile>
            </div>
        </div>
    </ng-template>
</div>
<ng-container *ngIf="!loading">
    <app-footer-ncom></app-footer-ncom>
</ng-container>