<w2fly-header></w2fly-header>
<section class="section">
  <h2>
    {{'W2FLY.MANAGEMENT.TITLE_FIRST_SECTION' | translate}}
  </h2>
  <h1>
    {{'W2FLY.HOME.TITLE' | translate}}
  </h1>
  <div
    class="columns"
    *ngIf="listCards$ | async as listCards; else error">
    <ng-template *ngIf="listCards.length; else noData"></ng-template>
    <div
      class="column"
      *ngFor="let card of listCards">
      <w2fly-basic-card [card]="card"></w2fly-basic-card>
    </div>

  </div>

</section>
<section class="section">
  <h2>
    {{'W2FLY.MANAGEMENT.TITLE_SECOND_SECTION' | translate}}
  </h2>
  <ng-container *ngIf="listHoverCards$ | async as listHoverCards; else error">
    <div class="columns">
      <ng-container *ngIf="listHoverCards.length; else noData">
        <w2fly-hover-card
          class="column"
          *ngFor="let card of listHoverCards"
          [card]="card"></w2fly-hover-card>
      </ng-container>
    </div>
  </ng-container>
</section>
<section class="section">
  <h2>
    {{'W2FLY.MANAGEMENT.TITLE_THIRD_SECTION' | translate}}
  </h2>
  <ng-container *ngIf="carousel$ | async as carousel; else error">
    <w2fly-carousel [carousel]="carousel"></w2fly-carousel>
  </ng-container>
</section>
<form-contact></form-contact>
<section>
  <w2fly-button
    *ngIf="button$ | async as button; else error"
    [buttonDto]="button"></w2fly-button>
</section>

<section-banner-data></section-banner-data>
<w2fly-footer></w2fly-footer>

<ng-template #noData>
  <div class="row">{{'W2FLY.COMMON.NO_DATA' | translate}}</div>
</ng-template>
<ng-template #error>
  <div class="row">{{'W2FLY.COMMON.ERROR' | translate}}</div>
</ng-template>
