<div (mouseenter)="(autoPlay)?autoPlayFunction(false):null" (mouseleave)="(autoPlay)?autoPlayFunction(true):null">
    <ng-content></ng-content>
    <app-promo-carousel-dot *ngIf="showDots" [dotsCount]="items.length" position="middle" [activeDot]="currentItemIndex"
        [enableDotClick]="enableDotClick" (selectDot)="onSelectedDot($event)">
    </app-promo-carousel-dot>
    <app-promo-carousel-arrow *ngIf="showArrows" dir="left" (click)="prev()" [disabled]="false">
    </app-promo-carousel-arrow>
    <app-promo-carousel-arrow *ngIf="showArrows" dir="right" (click)="next()" [disabled]="false">
    </app-promo-carousel-arrow>
</div>