@import "~@zumo/core/colors";

.promo--header-container {
  box-sizing: border-box;
  height: 122px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

:host /deep/ .header--icon {
  bottom: -27px;
  height: 120px;
  mix-blend-mode: multiply;
  opacity: 0.1;
  position: relative;
  right: -260px;
  width: auto;
}

.promo--header-custom-container {
  height: 122px;
  overflow: hidden;
  width: 100%;
}

:host /deep/ .header--icon-custom {
  height: 122px;
  width: 100%;
}

.promo--body {
  padding-bottom: 27px;
}

:host /deep/ .promo--brand-logo {
  height: auto;
  max-height: 50px;
  max-width: 90px;
  min-width: 56px;
  width: auto;
}

.promo--brand-container {
  align-items: center;
  background-color: $color-grayscale-100;
  border: solid 1px $color-grayscale-300;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  height: 77px;
  justify-content: center;
  padding: 13px;
  position: absolute;
  top: 135px;
  width: 118px;
}

.promo--category {
  align-items: center;
  display: flex;
}

.promo--category-title {
  color: $color-grayscale-600;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 600;
  height: 18px;
  letter-spacing: 0.2px;
  line-height: 18px;
}

.promo--subcategory-title {
  color: $color-grayscale-400;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 600;
  height: 18px;
  letter-spacing: 0.2px;
  line-height: 18px;
}

.promo--category-icon {
  color: $color-grayscale-600;
  height: auto;
  margin-left: 5px;
  width: 9.5px;
}

.promo--title {
  color: $color-grayscale-800;
  font-family: URWGeometric;
  font-size: 32px;
  font-stretch: normal;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  padding: 8px 20px 8px 20px;
  text-align: center;
  width: 80%;
}

.promo--type {
  color: $color-grayscale-800;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  height: 26px;
  line-height: 26px;
  text-align: center;
  width: 296px;
}

.promo--time {
  color: #880000;
  font-family: Roboto;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  letter-spacing: normal;
  margin: 16px 0;
  width: 100%;
}

.divider {
  background-color: $color-grayscale-300;
  height: 1px;
  margin: 24px 0;
}

.promo--description-title {
  color: $color-grayscale-500;
  font-family: Roboto;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: -0.16px;
}

.promo--description-text {
  color: $color-grayscale-800;
  font-family: Roboto;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: -0.11px;
  margin: 16px 0;
}

.promo--description-counter {
  color: #880000;
  font-family: Roboto;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.33;
  margin: 16px 0;
}

.promo--map img {
  width: 100%;
}

.promo--title span {
  font-weight: 400;
}

.more-locals {
  cursor: default;
  display: flex;
  justify-content: space-between;
}

.more-locals p {
  color: $color-grayscale-500;
  font-family: Roboto;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
}

.btn-link {
  color: $color-brand-500;
  display: block;
  font: bold 18px URWGeometric;
  letter-spacing: 0.1px;
  margin-top: 8px;
  text-decoration: underline;
}

.promo__tag-container {
  margin-top: 38px;
  padding: 24px;
}

.promo__tag {
  border-radius: 2px;
  color: $color-grayscale-100;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -0.1px;
  padding: 6px 8px;
}
