<app-modal *ngIf="loadingLocals" [hidden]="!showLocalsModal" (close)="closeModal()">
    <div *ngFor="let address of showAddresses; let index=index;">
        <z-list [index]="index" (elementSelected)="onSelectedAddress(index)">
            <div primaryTitle>
                <div>
                    {{address.address}}
                </div>
            </div>
            <div primarySubtitle>
                <div>
                    {{address.locality}}
                </div>
            </div>
        </z-list>
    </div>
</app-modal>
<div class="promo--detail">
    <ng-container *ngIf="bannerImage; then featuredBanner; else simpleBanner"></ng-container>
    <ng-template #featuredBanner>
        <div class="promo--header-custom-container">
            <app-lazy-image [image]="bannerImage" [alt]="'Banner Image'" classImage="header--icon-custom">
            </app-lazy-image>
        </div>
    </ng-template>
    <ng-template #simpleBanner>
        <div [appGradientBackground]="logoUrl" class="promo--header-container">
            <app-lazy-image [image]="categoryIcon" [animationDisabled]="true" [emptyImage]="emptyIcon"
                [alt]="'Category Icon'" classImage="header--icon">
            </app-lazy-image>
        </div>
    </ng-template>

    <div class="row center-xs">
        <div class="promo--brand-container">
            <app-lazy-image [image]="logoUrl" [emptyImage]="emptyIcon" [alt]="'Logo Icon'"
                classImage="promo--brand-logo">
            </app-lazy-image>
        </div>
    </div>

    <z-card>

        <div *ngIf="tag" class="row center-xs">
            <div class="promo__tag-container">
                <p class="promo__tag" [ngStyle]="{ 'background-color': tag.color ? tag.color : '#0d4ca6' }">
                    {{ tag.label | capitalizeFirst | elypsis:18}}
                </p>
            </div>
        </div>

        <div class="promo--body row center-xs">
            <div class="row">
                <span class="promo--category" [ngStyle]="{'margin-top': tag ? '0': '54px'}">
                    <p>
                        <span class="promo--category-title">{{promo.sector.category | uppercase}}</span> <span
                            *ngIf="promo.sector.subCategory" class="promo--subcategory-title"> |
                            {{promo.sector.subCategory | uppercase}}</span>
                    </p>
                </span>
            </div>
            <p class="promo--title"> {{ title }} <span *ngIf="title">en</span> {{ promo.commerceName }}</p>

            <p class="promo--type" *ngIf="subtitle"> {{ subtitle | capitalizeFirst }}</p>

        </div>
    </z-card>

    <z-card [styleList]="{'margin': '16px 0 0', 'padding': '24px 16px'}">
        <div *ngIf="promo.reimbursementCap || promo.specification.otherDetails">
            <p class="promo--description-title">{{ 'PAGES.PROMO_DETAIL.DESCRIPTION' | translate }}</p>
            <p class="promo--description-text" *ngIf="promo.reimbursementCap">Tope de reintegro hasta:
                ${{ promo.reimbursementCap }}</p>
            <p class="promo--description-text" *ngIf="promo.specification.otherDetails">
                {{ promo.specification.otherDetails }}
            </p>
            <div class="divider"></div>
        </div>
        <p class="promo--description-title">{{ 'PAGES.PROMO_DETAIL.VALIDATION' | translate }}</p>
        <p
            [ngClass]="{ 'promo--description-counter': counterData.alert, 'promo--description-text': !counterData.alert }">
            {{ counterData.show ? counterData.message : '' }} </p>
        <p class="promo--description-text" *ngIf="showDates && promo.days.dateFrom && promo.days.dateTo">Del
            {{ promo.days.dateFrom }} al {{ promo.days.dateTo }}
        </p>

        <div *ngIf="showWhereBlock()">
            <div class="divider"></div>
            <p class="promo--description-title">{{ 'PAGES.PROMO_DETAIL.WHERE' | translate }}</p>
            <div class="promo--description-text">
                <p *ngIf="addresses.mainAddress">{{ addresses.mainAddress.address }},
                    {{ addresses.mainAddress.locality }} , {{ addresses.mainAddress.province }}</p>
                <a class="btn-link" *ngIf="isPromoOnline && addresses.mainAddress" [href]="getCommerceUrl()"
                    target="_blank" rel="nofollow noopener noreferrer">{{ webPageShowed }}</a>
            </div>
            <div class="promo--description-text" *ngIf="isPromoOnline && !addresses.mainAddress">
                <p>Válida solo para compras online</p>
                <a class="btn-link" [href]="getCommerceUrl()" target="_blank"
                    rel="nofollow noopener noreferrer">{{ webPageShowed }}</a>
            </div>
            <div class="margin-top-24" *ngIf="!moreLocalsFinished">
                <z-loading type="primary" size="large"></z-loading>
            </div>
            <div class="more-locals" (click)="moreLocals()"
                *ngIf="moreLocalsFinished && addresses.otherAddresses.length > 0">
                <p>Otros locales adheridos</p>
                <div class="icon">
                    <p class="icon-angle-right size-16"></p>
                </div>
            </div>
        </div>
    </z-card>

    <z-card *ngIf="addresses.mainAddress && promoMap" (click)="onMapClick()">
        <div class="promo--map">
            <img [src]="promoMap" alt="Mapa">
        </div>
    </z-card>

    <z-card [styleList]="{'margin': '16px 0 0', 'padding': '24px 16px'}">
        <p class="promo--description-title">Legales</p>
        <p class="promo--description-text">CFT: {{ promo.cft | number:'1.2-2':'es-AR' }}%</p>
        <p *ngIf="promo.webPage && !addresses.mainAddress" class="promo--description-title">
            {{ 'PAGES.PROMO_DETAIL.WEBSITE_CLICK_LEGAL' | translate }} {{promo.commerceName}}.</p>
        <br>
        <p class="promo--description-title">{{ promo.legal }}</p>
    </z-card>
</div>