/* You can add global styles to this file, and also import other style files */
@import 'src/scss/bulma/bulma';
@import 'src/scss/ubico/theme';
@import 'src/scss/ubico/base';

/* RESETS */

html {
  scroll-behavior: smooth;
}

body {
  color: #616161;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.75rem;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  transition: 0.3s;
}

b {
  font-weight: 700;
}

a {
  text-decoration: none;
}

ul {
  padding-inline-start: 20px;
}

ol {
  padding-inline-start: 20px;
}
