<ng-container *ngIf="type==='mapFilter'; then mapFilter else fullFilter"></ng-container>
​
<ng-template #fullFilter>
  <div class="filter--dialog-container">
    <div class="filter--dialog-header">
      <z-card [styleList]="cardStyles">
        <div class="filter--dialog-header-content">
          <div class="filter--dialog-header-title">
            <p class="icon-cross size-16" style="cursor: pointer;" (click)="closeDialog()"></p>
            <span>Filtros</span>
          </div>
          <div class="filter--dialog-header-clean" (click)="onRestoreFilters()" *ngIf="showRestoreButton()">
            <span>Borrar</span>
          </div>
        </div>
      </z-card>
    </div>

    <div class="filter--dialog-body">
      <div class="spinner__filter-container" *ngIf="loading">
        <z-loading type="primary" size="large"></z-loading>
      </div>
      <ng-container *ngIf="!loading">
        <p class="title">Marca</p>
        <z-textfield text="Ingresá la marca" [required]="false" [id]="'commerceNameTextField'"
          [formControl]="commerceNameTextFieldControl" appAutocompleteOff>
        </z-textfield>
        <p class="title">Ubicación</p>
        <z-select [items]="provinces" [item]="provinceSelected" [placeholderDefault]="'Provincia'" [required]="false"
          [disabled]="provinces.length === 0" (itemSelected)="onProvinceSelected($event)">
        </z-select>
        <z-select [items]="localitiesFiltered" [item]="localitySelected" [placeholderDefault]="'Localidad'"
          [required]="false" [disabled]="!provinceSelected.text" [item]="localitySelected"
          (itemSelected)="onLocalitySelected($event)">
        </z-select>
        <p class="title">Categorías ({{categorySelected}})</p>
        <!--         <div *ngFor="let category of categories; let index=index">
          <z-list id="filterCategoriesList" [index]="index" (elementSelected)="checkSelected($event)">
            <div left>
              <app-lazy-image [image]="getCategoryIcon(category.text)" [emptyImage]="getEmptyIcon(category.text)" [alt]="'category icon'" classImage="promo--category-icon">
              </app-lazy-image>
            </div>
            <div primaryTitle>
              {{category.text}}
            </div>
            <div right>
              <z-checkbox [checkbox]="category.checkbox"></z-checkbox>
            </div>
          </z-list>
        </div> -->
        <!-- Always visible categories -->
      </ng-container>
    </div>
    <ng-container *ngIf="!loading">
      <div class="filter--dialog-body__categories">
        <app-filter-dialog-category-list [categories]="alwaysVisibleCategories" (selectedItemsChanged)="onAlwaysVisibleCategoriesSelectedItemsChanged($event)"></app-filter-dialog-category-list>

        <!-- Collapsible categories -->

        <div *ngIf="moreCategoriesisOpen">
          <app-filter-dialog-category-list [categories]="categories" (selectedItemsChanged)="onCollapsibleCategoriesSelectedItemsChanged($event)"></app-filter-dialog-category-list>
        </div>

        <div class="view-more-button-container">
          <z-button [text]="getCollapseButtonTextTranslateKey() | translate" type="link" (clickButton)="onCollapseCategoriesButtonClicked($event)"></z-button>
          <div class="icon">
            <!-- <p *ngIf="moreCategoriesisOpen" class="icon-angle-up size-24 view-more-button-container__icon"></p>
            <p *ngIf="!moreCategoriesisOpen" class="icon-angle-down size-24 view-more-button-container__icon"></p> -->
          </div>
        </div>

      </div>
    </ng-container>
    <z-button [disabled]="loading" text="Aplicar" type="sticky" (clickButton)="onApplyFilters()"></z-button>
  </div>
</ng-template>
<ng-template #mapFilter>
  <div class="filter-map">
    <div class="spinner__map-container" *ngIf="loading">
      <z-loading type="primary" size="large"></z-loading>
    </div>
    <ng-container *ngIf="!loading">
      <z-select class="select-filter" [items]="provinces" [item]="provinceSelected" [placeholderDefault]="'Provincia'"
        [required]="true" [disabled]="provinces.length === 0" (itemSelected)="onProvinceSelected($event)">
      </z-select>
      <z-select class="select-filter" [items]="localitiesFiltered" [item]="localitySelected"
        [placeholderDefault]="'Localidad'" [required]="true" [disabled]="!provinceSelected.text"
        (itemSelected)="onLocalitySelected($event)">
      </z-select>
      <div class="footer--button">
        <z-button text="Buscar promos" (clickButton)="onApplyFilters()" type="primary" [widthButton]="'312px'"
          [disabled]="!provinceSelected.text"></z-button>
      </div>
    </ng-container>
  </div>
</ng-template>
