<app-navbar-mobile *ngIf="!loading" [title]="'Promociones'" [shadow]="true" [fixed]="false">
</app-navbar-mobile>
<div class="spinner--container" *ngIf="loading">
  <z-loading type="primary" size="large"></z-loading>
</div>

<div *ngIf="!error">
  <div *ngIf="!loading">
    <app-promo-detail-mobile *ngIf="individualPromo" [promo]="individualPromo">
    </app-promo-detail-mobile>
    <div *ngIf="agrupatedPromosRendered.length">
      <div class="filter--container">
        <p class="message--counter" *ngIf="agrupatedPromos.length + agrupatedPromosRendered.length === 1">
          Tenemos {{ agrupatedPromos.length + agrupatedPromosRendered.length }} promo especial</p>
        <p class="message--counter" *ngIf="agrupatedPromos.length + agrupatedPromosRendered.length > 1">
          Tenemos {{ agrupatedPromos.length + agrupatedPromosRendered.length }} promos especiales</p>
      </div>

      <div class="featured--container">
        <app-infinite-scroll (scrolled)="onScroll()" *ngIf="agrupatedPromosRendered.length">
          <app-promo-list-mobile [showOpenFilterButton]="false" [isLastPage]="true" (scrolled)="onScroll()"
            [loading]="loading" [promos]="agrupatedPromos" [promosRendered]="agrupatedPromosRendered"
            [analitycsCreativeClass]="analyticsClass">
          </app-promo-list-mobile>
        </app-infinite-scroll>
      </div>
    </div>
  </div>


  <div *ngIf="!loading && !agrupatedPromosRendered.length">
    <app-empty-state-grid [showOpenFilterButton]="true" (showFilter)="onErrorStateButtonPressed()"
      [emptyStateData]="emptyStateData">
    </app-empty-state-grid>
  </div>

  <div *ngIf="error">
    <app-error-state (retryClicked)="retry()"></app-error-state>
  </div>

  <ng-container *ngIf="!agrupatedPromos.length">
    <app-footer-ncom></app-footer-ncom>
  </ng-container>