<header>
	<div class="container center-space-between">
		<div>
			<a href="#home"><img class="logo-ubico" src="../../../assets/img/logo-ubico-dark.png" alt="Ubico Logo"></a>
		</div>
		<div class="menu center-right">
			<a href="#appubico"><strong>APP Úbico</strong></a>
			<a href="#acceso"><strong>Acceso</strong></a>
			<a href="#funcionalidades"><strong>Funcionalidades</strong></a>
			<a href="#alertas"><strong>Alertas</strong></a>
			<a href="#contactos"><strong>Contactos</strong></a>
			<a href="#puntosmenu"><strong>Opciones Menú</strong></a>
		</div>
	</div>
</header>
<div class="hero">
	<img src="../../../assets/img/1.jpg" alt="Ubico Hero">
	<div class="container center-center">
		<div>
			<p class="display-2 margin-block-end margin-block-start">App Úbico</p>
			<h3>La manera más fácil de gestionar la información de tus viajes.</h3>
			<div class="big-line">
				<div style="width: 100%;" class="big-line-left"></div>
			</div>
		</div>
	</div>
</div>
<!--Block 1-->
<div id="appubico" class="box-image">
	<div class="box-image-img">
		<img src="../../../assets/img/2.jpg" alt="Ubico Image">
	</div>
	<div class="box-image-text">
		<div class="box-image-text-padding">
			<div class="box-image-text-container">
				<p class="display-1">App Úbico</p>
				<div class="big-line">
					<div class="big-line-left"></div>
					<div class="big-line-right"></div>
				</div>
				<p>La app de <strong>gestión e información de viajes</strong> que abarca todas las fases del viaje desde la <strong>planificación</strong>, el <strong>vuelo</strong> y el <strong>destino</strong>, con detalle cronológico por servicios, mapas, geolocalización y una amplia gama de elementos de ocio.</p>
				<p>Se puede descargar en los markets de <span class="ubico-green"><strong>Android</strong></span> o <span class="ubico-green"><strong>IOS</strong></span> en función del tipo de teléfono móvil:</p>
				<br>
				<div class="app-icons center-left">
					<a href="https://apps.apple.com/us/app/w2m-corporate-travel/id1547302163" rel="noopener noreferrer" target="_blank"><img width="100%" src="../../../assets/img/app-store-icon.png" alt="Ubico Play Store"></a>
					<a href="https://play.google.com/store/apps/details?id=com.w2m.app" rel="noopener noreferrer" target="_blank"><img width="100%" src="../../../assets/img/play-store-icon.png" alt="Ubico Play Store"></a>
				</div>
			</div>
		</div>
	</div>
</div>
<!--Block 2-->
<div id="acceso" class="box-image row-reverse">
	<div class="box-image-img">
		<img src="../../../assets/img/3.jpg" alt="Ubico Image">
	</div>
	<div class="box-image-text">
		<div class="box-image-text-padding">
			<div class="box-image-text-container">
				<p class="display-1">Acceso</p>
				<div class="big-line">
					<div class="big-line-left"></div>
					<div class="big-line-right"></div>
				</div>
				<ol>
					<li><p>Una vez descargada se accede indicando tu <strong>dirección de mail</strong> y clicando en <strong>"Recuperar contraseña".</strong> </p></li>
					<li><p>Recibirás un correo con un enlace para resetear tu contraseña y poder registrar la que tú decidas.</p></li>
					<li><p>Desde ese momento ya puedes acceder a la app, indicando tus datos y pinchando en <strong>"Iniciar sesión"</strong></p></li>
					<li><p>Y si se te olvida tu contraseña repite este mismo proceso</p></li>
				</ol>
			</div>
		</div>
	</div>
</div>
<!--Block 3-->
<div id="funcionalidades" class="box-image">
	<div class="box-image-img">
		<img src="../../../assets/img/4.jpg" alt="Ubico Image">
	</div>
	<div class="box-image-text">
		<div class="box-image-text-padding">
			<div class="box-image-text-container">
				<p class="display-1">Funcionalidades</p>
				<div style="margin: 20px 0 20px 0;" class="big-line">
					<div class="big-line-left"></div>
					<div class="big-line-right"></div>
				</div>
				<p>Información itinerarios:</p>
				<ul>
					<li><p>La app mostrará la <strong>información detallada de los servicios incluidos</strong> en el viaje con información actualizada del estado de la reserva de cada uno de ellos (Confirmado o pendiente).  </p></li>
					<li><p>Y siempre estarán disponibles los viajes pasados en una pestaña específica, por si necesitas consultarlos</p></li>   
				</ul>
			</div>
		</div>
	</div>
</div>
<!--Block 4-->
<div id="alertas" class="box-image row-reverse">
	<div class="box-image-img">
		<img src="../../../assets/img/5.jpg" alt="Ubico Image">
	</div>
	<div class="box-image-text">
		<div class="box-image-text-padding">
			<div class="box-image-text-container">
				<p class="display-1">Alertas</p>
				<div class="big-line">
					<div class="big-line-left"></div>
					<div class="big-line-right"></div>
				</div>
				<p>Envío de <strong>notificaciones actualizadas</strong> y <strong>mensajes personalizados</strong> antes, durante y después del viaje:</p>
				<p>Notificación <strong>check-in disponible</strong></p>
				<p>Notificación de información del <strong>estado de vuelo</strong> en tiempo real: </p>
				<ul>
					<li><p>Recordatorios de viajes reservados e información actualizada en aeropuerto (terminal, puertas de embarque, retrasos, cancelaciones etc.)</p></li>
				</ul>
				<p>Notificaciones de <strong>seguridad</strong>: </p>
				<ul>
					<li><p>Alertas de seguridad, que incluyen desde información actualizada de <strong> requisitos COVID en destino</strong>, como todo tipo de información que suponga un nivel de riesgo en la seguridad en el desplazamiento, conflictos, manifestaciones, huelgas, etc., así como alertas meteorológicas y de salud.</p></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!--Block 5-->
<div id="contactos" class="box-image">
	<div class="box-image-img">
		<img class="long-image" src="../../../assets/img/66.jpg" alt="Ubico Image">
	</div>
	<div class="box-image-text">
		<div class="box-image-text-padding">
			<div class="box-image-text-container">
				<p class="display-1">Contactos</p>
				<div style="margin: 20px 0 20px 0;" class="big-line">
					<div class="big-line-left"></div>
					<div class="big-line-right"></div>
				</div>
				<p>Opción de <strong>contactar directamente con tu agencia</strong> por diferentes canales en un solo click.</p>
			</div>
		</div>
	</div>
</div>
<!--Block 6-->
<div id="puntosmenu"  class="box-image row-reverse">
	<div class="box-image-img">
		<img src="../../../assets/img/7.jpg" alt="Ubico Image">
	</div>
	<div class="box-image-text">
		<div class="box-image-text-padding">
			<div class="box-image-text-container">
				<p class="display-1">Otros puntos de menú</p>
				<div style="margin: 20px 0 20px 0;" class="big-line">
					<div class="big-line-left"></div>
					<div class="big-line-right"></div>
				</div>
				<p>Y acceder a diferentes puntos del menú aún sin conexión, como <strong>Documentación</strong> (para descargar o subir todo tipo de información), <strong>Mi perfil</strong> (para consultar y actualizar preferencias) y otros accesos a consultas de <strong>horarios</strong> o de <strong>información</strong> específica en <strong>destino</strong>, aplicaciones de liquidación de gastos, etc.</p>
			</div>
		</div>
	</div>
</div>

<div style="margin-top: 0;" class="hero">
	<img style="filter: brightness(0.7);" src="../../../assets/img/8.jpg" alt="Ubico Hero">
	<div class="container center-center">
		<div>
			<p class="display-2 margin-block-end margin-block-start">App Úbico</p>
			<h3>Descárgatela ya y empieza a recibir información de tus viajes</h3>
			<div class="big-line">
				<div style="width: 100%;" class="big-line-left"></div>
			</div>
			<div class="app-icons-banner center-left">
				<a href="https://apps.apple.com/us/app/w2m-corporate-travel/id1547302163" rel="noopener noreferrer" target="_blank"><img class="no-image-filter img-bannner" width="100%" src="../../../assets/img/app-store-icon.png" alt="Ubico Play Store"></a>
				<a href="https://play.google.com/store/apps/details?id=com.w2m.app" rel="noopener noreferrer" target="_blank"><img class="no-image-filter img-bannner" width="100%" src="../../../assets/img/play-store-icon.png" alt="Ubico Play Store"></a>
			</div>
		</div>
	</div>
</div>
<footer>
	<div class="container grid-1">
		<div>
			<img class="logo-ubico" src="../../../assets/img/logo-ubico-light.png" alt="Logo Úbico light">
			<br>
			<h6 class="margin-block-end">C/ General Riera, 154, 07010, Illes Balears.</h6>
			<h6 class="margin-block-start margin-block-end">© 2021 | All rights reserved</h6>
		</div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
</footer>
