// Overriding global variables

// COLORS

$darkblue: #121E7E;
$blue: #649CF8;
$soft-blue: rgba($blue, 0.15);
$turquoise: #0EEEE9;
$red: #C52E1C;
$soft-red: #FFEAE8;
$orange: #F4B63E;
$soft-orange: #FFF5DE;
$green: #18A584;
$soft-green: #E6F6F1;
$gray-dark: #505759;
$gray: #A8ABAC;
$soft-gray: #C6C8C9;
$soft: #F7F7F7;
$dark: #272C2E;
$white: #FFFFFF;
$soft-text: #CBCDCD;
$text: $gray-dark;
$body-color: $gray-dark;


$gray-50: #ECECEC;
$gray-100: #D0D0D0;
$gray-200: #B0B0B0;
$gray-300: #909090;
$gray-400: #797979;
$gray-500: #616161;
$gray: $gray-500;
$gray-600: #595959;
$gray-700: #4F4F4F;
$gray-800: #454545;
$gray-900: #333333;

$primary: $darkblue;
$secondary: $blue;
$tertiary: $turquoise;
$quaternary: $red;

$info: $blue;
$success: $green;
$warning: $orange;
$danger: $red;
$light: $soft;
$background: $soft;

$headings-color: $primary;
$headings-color-light: $white;
$text-color-light: $white;

$border-color: rgba($gray, 0.3);
$border-radius: 0.625rem;


// shadows
$shadow-1: 0 0.1875rem 0.625rem rgba(0, 0, 0, 0.1);
$shadow-2: 0 0 0.625rem rgba(0, 0, 0, 0.161);
$shadow-3: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.26);

// TYPOGRAPHY

$base-font-family: 'Montserrat', sans-serif;
$headings-font-family: 'Sofia Pro Soft W01 Medium', sans-serif;
$headings-regular-font-family: 'Sofia Pro Soft W01 Regular', sans-serif;
$headings-light-font-family: 'Sofia Pro Soft W01 Light', sans-serif;
$button-font-family: 'Sofia Pro Soft W01 Regular', sans-serif;
$font-weight-medium: 600;

$font-weight-light:300;
$font-weight-regular:400;
$font-weight-bold: 700;

// COMPONENTS

//Mat-basic-chip
$chip-font-family: $headings-regular-font-family;
$chip-font-size: 1rem;
$chip-line-height: 1.25rem;
$chip-color: $white;
$chip-border-radius: 3.125rem;

// Gradient
$linear-gradient-1: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, $secondary);
$linear-gradient-2: linear-gradient(180deg, rgba(0, 0, 0, 0.702), transparent);
$linear-gradient-3: linear-gradient(0deg, rgba(0, 0, 0, 0.702), transparent);
$linear-gradient-4: linear-gradient(270deg, rgba(255, 255, 255, 1) 20%, rgba(0, 0, 0, 0) 100%);

//Mat-card
$card-border-radius: $border-radius;

//W2F variables
$w2f-card-border-radius: 0 0 0 5rem;
$w2f-card-height: 18.75rem;

//Breakpoints
$media-tablet: 48.0625rem;
$media-desktop: 64rem;
$media-widescreen: 76rem;
$media-fullhd: 88rem;

//Paddings
$section-padding: 6.25rem;

//Link hover font weight
$link-hover-font-weight: 600;

//W2f-basic-card
$w2f-basic-card-padding: 1.5rem;

//W2f-link-card
$w2f-link-card-padding: 1.5rem;

//W2f-hover-card
$w2f-hover-card-padding: 2.5rem;
