
.BussinesRulesDetail--container {
  font-family: Roboto;
  max-width: 1336px;
  min-width: 1128px;
  padding-top: 8px;
}

.breadcrumb-text {
  color: rgb(102, 102, 102);
  font-size: 16px;
  font-weight: normal;
  height: 26px;
  line-height: 24px;
}

.subtitle {
  color: rgb(51, 51, 51);
  font-size: 18px;
  font-weight: normal;
  height: 26px;
  letter-spacing: -0.1px;
  line-height: 26px;
  width: 198px;
}

.greet {
  color: rgb(51, 51, 51);
  font-size: 22px;
  font-weight: normal;
  height: 30px;
  line-height: 30px;
}

.strong {
  font-weight: bold;
}

.promotions--list {
  display: flex;
  flex-wrap: wrap;

  &__items {
    margin-bottom: 32px;
  }
}

.spinner__container {

  &--initial {
    align-items: center;
    display: flex;
    height: 95vh;
    justify-content: center;
  }

  &--featured {
    align-items: center;
    display: flex;
    height: 45vh;
    justify-content: center;
  }

  &--suggested {
    align-items: center;
    display: flex;
    height: 25vh;
    justify-content: center;
  }
}
