@import "~@zumo/core/colors";

.promo--brand-container {
  align-items: center;
  display: flex;
  height: 64px;
  justify-content: center;
  margin: 44px 0 8px 0;
  width: 96px;
}

:host /deep/ .promo--brand-logo {
  height: auto;
  max-height: 60px;
  max-width: 90px;
  width: auto;
}

.promo--footer {
  bottom: 8px;
  position: absolute;
  width: 100%;
}

.promo--category {
  align-items: center;
  border: solid 0.8px $color-grayscale-200;
  border-radius: 9px;
  display: flex;
  height: 18px;
}

.promo--footer {
  bottom: 8px;
  position: absolute;
  width: 100%;
}

.promo--category-title {
  color: #666666;
  font-family: Roboto;
  font-size: 10px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  height: 7.3px;
  letter-spacing: normal;
  line-height: 0.91;
  padding: 0 10px;
}

:host /deep/ .promo--category-icon {
  color: #666666;
  display: block;
  height: 9px;
  margin-left: 5px;
  width: 9px;
}

.promo--title {
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -0.09px;
  line-height: normal;
  margin: 8px;
  // padding: 0 8px;
  text-align: center;
  width: 100%;
}

.promo--title span {
  font-weight: 400;
}

.promo--type {
  color: #666666;
  font-family: Roboto;
  font-size: 10px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  height: 14px;
  letter-spacing: normal;
  line-height: 1.4;
  text-align: center;
  width: 100%;
}

.promo--line {
  border-top: solid 1px $color-grayscale-200;
  margin: 8px 8px;
}

.promo--time {
  color: #666666;
  font-family: Roboto;
  font-size: 10px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.4;
  margin: 4px 0;
  width: 100%;
}

.promo--counter {
  color: #880000;
  font-family: Roboto;
  font-size: 10px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1.4;
  margin: 8px 0;
  text-align: center;
}

.gtm--variables {
  display: none;
}

.card__header {
  left: 16px;
  position: absolute;
  top: 16px;
}

.card__header-tag {
  border-radius: 2px;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 600;
  left: -4px;
  letter-spacing: -0.1px;
  line-height: 20px;
  padding: 4px 6px;
  position: relative;
  top: -4px;
}
