<div class="ubi-header">
  <div class="ubi-header__container">
    <div class="ubi-header__container-logo is-flex is-align-items-center is-justify-content-start">
      <img src="../../../assets/img/ubico/logo-ubico-light.svg" alt="Logo Úbico">
    </div>
    <div class="ubi-header__container-menu is-flex is-align-items-center is-justify-content-flex-end">
      <ul>
        <li>Iniciar Sesión</li>
      </ul>
    </div>
  </div>
</div>
<div class="hero-home">
  <img src="../../../assets/img/ubico/home-1.jpg" alt="Logo Úbico">
  <div class="container">
    <div class="hero-home__title">
      <h1>New <br>
        Corporate <br>
        Mobility <br>
        Design</h1>
    </div>
  </div>
</div>
<section>
  <div class="ubi-box-image">
    <div class="ubi-box-image__img">
      <img src="../../../assets/img/ubico/home-2.jpg" alt="Home picture">
      <div class="ubi-box-image__img--box-text">
        <h2>Somos la ola <br> del cambio</h2>
        <div class="ubi-box-image__img--box-text--background"></div>
      </div>
    </div>

    <w2m-info-text>
      <w2m-divider></w2m-divider>
    </w2m-info-text>

  </div>
</section>

<section class="row-reverse">
  <div class="ubi-box-image">
    <div class="ubi-box-image__img">
      <img src="../../../assets/img/ubico/home-3.jpg" alt="Home picture">
      <div class="ubi-box-image__img--box-text normal">
        <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur, eligendi?</h2>
        <div class="ubi-box-image__img--box-text--background"></div>
      </div>
    </div>
    <div class="ubi-box-image__text">
      <div class="ubi-box-image__text-container">
        <h5>Dolor Ipsum</h5>
        <p class="mat-display-1">Ipsum Lorem</p>
        <div class="ubi-box-image__text-container-big-line">
          <div class="ubi-box-image__text-container-big-line--left"></div>
          <div class="ubi-box-image__text-container-big-line--right"></div>
        </div>
        <p>Lorem ipsum dolor sit amet <strong>consectetur</strong> adipisicing elit. In molestiae error maxime porro
          expedita obcaecati.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio velit ratione amet voluptas quam ducimus
          officiis. Impedit, eos expedita quis quaerat doloribus nisi, <strong>iusto alias in sunt praesentium</strong>
          consequuntur fugit!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores illo odio explicabo qui, saepe dolorem
          animi quod optio voluptate voluptatibus <strong>mollitia</strong> corrupti minus unde, eos ullam!</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="ubi-box-image">
    <div class="ubi-box-image__img">
      <img src="assets/img/1.jpg" alt="Home picture">
      <div class="ubi-box-image__img--box-text expanded">
        <h2>Diseñamos tu modelo <br> hola soy bontio.</h2>
        <div class="ubi-box-image__img--box-text--background"></div>
      </div>
    </div>
    <div class="ubi-box-image__text">
      <div class="ubi-box-image__text-container">
        <h5>Lorem Ipsum</h5>
        <p class="mat-display-1">Qué proponemos</p>
        <div class="ubi-box-image__text-container-big-line">
          <div class="ubi-box-image__text-container-big-line--left"></div>
          <div class="ubi-box-image__text-container-big-line--right"></div>
        </div>
        <p><strong class="mat-body-strong">Úbico</strong> es nuestra respuesta a la <strong>situación generada por esta
            pandemia.</strong></p>
        <p>Creamos nuevos modelos de <strong class="mat-body-strong">servicio de movilidad</strong> para nuestro
          cliente, nuestro costumer y por supuesto, para nuestro equipo.</p>
        <p>Nosotros nacemos como empresa de movilidad corporativa, somos y hemos sido agentes de viaje y estamos
          orgullosos, pero hemos <strong class="mat-body-strong">evolucionado</strong> a la creación de una <strong
            class="mat-body-strong">agencia de movilidad corporativa.</strong></p>
      </div>
    </div>
  </div>
</section>

<section class=" row-reverse">
  <div class="ubi-box-image">
    <div class="ubi-box-image__img">
      <img src="assets/img/1.jpg" alt="Home picture">
    </div>
    <div class="ubi-box-image__text">
      <div class="ubi-box-image__text-container">
        <h5>Doloremque</h5>
        <p class="mat-display-1">Ad Ipsum</p>
        <div class="ubi-box-image__text-container-big-line">
          <div class="ubi-box-image__text-container-big-line--left"></div>
          <div class="ubi-box-image__text-container-big-line--right"></div>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad ipsum placea <strong> facilis eius
            doloremque</strong> enim suscipit consequatur aliquid. Aspernatur iusto in molestias labore vel autem.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, pariatur officiis cum at ipsa officia
          similique in quisquam fugit ut odit rem minus accusamus necessitatibus unde inventore nam aperiam repellat
          atque quaerat nihil, tempora <strong>dolorem</strong> ex animi! Inventore repellendus sunt fuga commodi fugit
          excepturi voluptas.</p>
      </div>
    </div>
  </div>
</section>

<section class="brand-color iberostar">
  <div class="ubi-box-image">
    <div class="ubi-box-image__img">
      <img src="assets/img/1.jpg" alt="Beach picture">
    </div>
    <div class="ubi-box-image__text">
      <div class="ubi-box-image__text-container">
        <h5>Sit amet</h5>
        <p class="mat-display-1">Lorem adipisci</p>
        <div class="ubi-box-image__text-container-big-line">
          <div class="ubi-box-image__text-container-big-line--left"></div>
          <div class="ubi-box-image__text-container-big-line--right"></div>
        </div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est temporibus hic reiciendis minus ratione.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad ipsa necessitatibus distinctio cumque adipisci!
          Consequuntur <strong>quidem ratione</strong> cum impedit optio?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto eos minus <strong>expedita</strong>
          repellendus obcaecati delectus maxime voluptate temporibus adipisci in!</p>
      </div>
    </div>
  </div>
</section>

<section class="brand-color w2m row-reverse">
  <div class="ubi-box-image">
    <div class="ubi-box-image__img">
      <img src="assets/img/1.jpg" alt="Home picture">
    </div>
    <div class="ubi-box-image__text">
      <div class="ubi-box-image__text-container">
        <h5>Dolor sit</h5>
        <p class="mat-display-1">sit ameting.</p>
        <div class="ubi-box-image__text-container-big-line">
          <div class="ubi-box-image__text-container-big-line--left"></div>
          <div class="ubi-box-image__text-container-big-line--right"></div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum dolorum expedita corporis amet itaque
          <strong>consectetur aliquam</strong> rem repudiandae soluta explicabo.
        </p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis, quam?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos similique, ad expedita reiciendis obcaecati
          amet ea blanditiis cupiditate doloribus dolores enim corporis molestias itaque rem quisquam voluptatem, in
          culpa voluptatibus quidem nam. Sapiente, sed iste. Cumque vero quaerat in dignissimos vitae totam voluptas.
          Libero sapiente consequuntur ea neque voluptas, ipsum numquam maiores veritatis? Adipisci quasi facere
          aspernatur, id debitis fugiat repudiandae numquam sit rem, ipsa quas earum reiciendis laudantium iure
          consequatur? </p>
      </div>
    </div>
  </div>
</section>
<section class="ubi-padding-section">
  <div class="container">
    <div class="ubi-section-title">
      <h1>Quieres saber más</h1>
      <div class="ubi-section-title__small-line"></div>
    </div>
    <h3><strong>Arítulos</strong></h3>
    <div class="ubi-section-card columns">
      <div class="column is-4">
        <div class="ubi-section-card__container">
          <div class="ubi-section-card__container-image">
            <img src="assets/img/ubico/article-1.jpg" alt="article 1">
          </div>
          <div class="ubi-section-card__container-title">
            <p><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore saepe molestias vel repudiandae
                adipisci!</strong></p>
          </div>
          <div class="ubi-section-card__container-description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta ipsa assumenda eligendi.</p>
          </div>
          <div class="ubi-section-card__container-category">
            <h5 class="ubi-section-card__container-category--tag"><strong>Destinos</strong></h5>
            <h5 class="ubi-section-card__container-category--date">Martes 04 de Abril 2022</h5>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="ubi-section-card__container">
          <div class="ubi-section-card__container-image">
            <img src="assets/img/ubico/article-1.jpg" alt="article 1">
          </div>
          <div class="ubi-section-card__container-title">
            <p><strong>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id dolore adipisci aspernatur minus
                rem?</strong></p>
          </div>
          <div class="ubi-section-card__container-description">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
              labore.</p>
          </div>
          <div class="ubi-section-card__container-category">
            <h5 class="ubi-section-card__container-category--tag"><strong>Destinos</strong></h5>
            <h5 class="ubi-section-card__container-category--date">Lunes 12 de Febrero 2022</h5>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="ubi-section-card__container">
          <div class="ubi-section-card__container-image">
            <img src="assets/img/ubico/article-1.jpg" alt="article 1">
          </div>
          <div class="ubi-section-card__container-title">
            <p><strong>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus, sequi? Cum commodi a voluptates
                veritatis.</strong></p>
          </div>
          <div class="ubi-section-card__container-description">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore, ratione?</p>
          </div>
          <div class="ubi-section-card__container-category">
            <h5 class="ubi-section-card__container-category--tag"><strong>Escapdas</strong></h5>
            <h5 class="ubi-section-card__container-category--date">Lunes 10 de Abril 2022</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
