@import "src/scss/ubico/variables";

//Header
.ubi-header {
	background: $white;
	box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.144);
	height: 5.3125rem;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 3;

	&__container {
		display: grid;
		grid-template-columns: 1fr 2fr;
		height: 100%;
		padding: 0 1.25rem;

		@media (min-width: $media-desktop) {
			margin: auto;
			max-width: 84rem;
			padding: 0;
		}

		&-logo {
			height: 100%;
		}

		&-menu {
			gap: 3.75rem;
			height: 100%;

			li {
				list-style: none;
			}
		}
	}
}



.ubi-box-image {
	display: block;

	@media (min-width: $media-desktop) {
		display: flex;
	}

	&__img {
		height: 100%;
		position: relative;

		&--box-text {
			display: none;

			@media (min-width: $media-desktop) {
				bottom: 0;
				display: block;
				left:0;
				margin: 3.75rem;
				max-width: 42.5rem;
				padding: 3.75rem;
				position: absolute;
			}

			&--background {
				background: $darkblue;
				height: 100%;
				left: 0;
				mix-blend-mode: multiply;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 1;
			}

			h2 {
				color: $white;
				margin: 0;
				position: relative;
				text-transform: uppercase;
				z-index: 2;
			}

			h2::after {
				color: $green;
				content: ' ⬤';
				font-size: 35px;
				margin-left: 10px;
			}
		}

		img {
			object-fit: cover;
			width: 100%;
		}

		@media (min-width: $media-desktop) {
			display: flex;
			height: auto;
			width: 50%;
		}
	}

	/* &__text {
		width: 100%;

		@media (min-width: $media-desktop) {
			width: 50%;
		}


		&-container{
			padding: 36px;

			@media (min-width: $media-desktop) {
				max-width: 800px;
				padding: 120px;
			}

			&-big-line {
				height: 15px;
				margin: 30px 0;
				position: relative;
				width: 140px;

				&--left {
					background-color: $green;
					height: 100%;
					left: 0;
					position: absolute;
					top: 0;
					width: 110px;
				}

				&--right {
					background-color: $green;
					height: 100%;
					position: absolute;
					right: 0;
					top: 0;
					width: 15px;
				}
			}
		}
	} */
}

.ubi-section-title {
	margin-bottom: 3.9375rem;

	h1 {
		margin-block-end: 0;
	}

	&__small-line {
		background:$green;
		height: 0.3125rem;
		width: 3.75rem;
	}
}

.ubi-section-card {

	 &__container {
		height: 25rem;
		position: relative;
		width: 100%;

		&-image {
			height: 11.25rem;
			width: 100%;

			img {
				height: 100%;
				object-fit: cover;
				width: 100%;
			}
		}

		&-title {
			margin-top:1.25rem;
		}

		&-description {
			margin-top:1.25rem;
		}

		&-category {
			bottom: 0%;
			left: 0;
			position: absolute;

			&--tag {
				margin-block-end: 0;
			}

			&--date {
				color:$softgray-300;
				margin-block-end: 0;
			}
		}
	 }
}
