<div class="w2f-mobile-menu">
  <div class="w2f-mobile-menu__header">
    <img src="assets/img/w2fly_logo.svg"
      class="w2f-mobile-menu__header__logo"
      alt="w2fly company logo" />
    <button class="w2f-mobile-menu__header__close"
      (click)="closeClicked.emit()"
      mat-icon-button>
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div class="w2f-mobile-menu__body">
    <div class="is-flex is-justify-content-space-between">
      <button class="w2f-mobile-menu__body__button" mat-stroked-button>
        {{ "W2FLY.HEADER.BTN_MANAGE_MY_COMPANY" | translate | uppercase }}
      </button>
      <language-picker nameClass="w-texColorDark"></language-picker>
    </div>
    <hr />
    <ul>
      <li *ngFor="let item of itemsMenu">
        <div class="w2f-mobile-menu__body__list__item"
          (click)="openDialog(item.subMenu)">
          <div class="w2f-mobile-menu__body__list__item__container">
            <i class="fas" [class]="item.icon"></i>
          </div>
          {{ item.name }}
        </div>
      </li>
    </ul>
  </div>
</div>
