<button class="is-flex w-button-language"
  [ngClass]="nameClass"
  mat-menu-item
  [matMenuTriggerFor]="menu">
    <ng-container [ngTemplateOutlet]="flagTemplate"
      [ngTemplateOutletContext]="{ img: currentLang }">
    </ng-container>
    {{ displayCode }}
</button>

<mat-menu #menu="matMenu">
  <button *ngFor="let language of languages | async"
    class="is-flex"
    mat-menu-item
    (click)="onSelectLanguage(language)">
      <ng-container [ngTemplateOutlet]="flagTemplate"
        [ngTemplateOutletContext]="{ img: language.code }">
      </ng-container>
      {{ language.name }}
  </button>
</mat-menu>
<ng-template #flagTemplate let-imgFlag="img">
  <div class="w-container-flag">
    <img class="w-flag mt-2" src="assets/img/flags/{{ imgFlag }}.png" />
  </div>
</ng-template>
