.naranja-logo {
  height: auto;
  padding-left: 70px;
  padding-top: 13px;
  width: 90px;
}

.desktop--copy-container {
  align-content: center;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.desktop--copy-header {
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), inset 0 -1px 0 0 rgba(0, 0, 0, 0.07);
  height: 56px;
  width: 100%;
}

.desktop--copy-ilustration {
  height: auto;
  margin-bottom: 36px;
  width: 192px;
}

.desktop--copy-body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  text-align: center;
  width: 600px;
}

.desktop--copy-title {
  color: #333333;
  font-family: URWGeometric;
  font-size: 36px;
  font-stretch: normal;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -0.27px;
  line-height: 1;
  margin-bottom: 10px;
}

.desktop--copy-subtitle {
  color: #333333;
  font-family: Roboto;
  font-size: 24px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: -0.2px;
  line-height: 1.33;
}
