@import "~@zumo/core/colors";

.promotios-btn {
  align-items: center;
  background-color: $color-grayscale-100;
  border: solid 2px #FF6600;
  border-radius: 60px;
  box-shadow: none;
  color: #FF6600;
  cursor: pointer;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  justify-content: center;
  letter-spacing: 0.1px;
  padding: 0 32px;
}
