@import "~@zumo/core/colors";
@import "~@zumo/core/typography";

.promo--category {
  align-items: flex-start;
  display: flex;
}

.promo--category-title {
  color: $color-grayscale-600;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.43px;
  line-height: 22px;
  margin-right: 4px;
}

.promo--subcategory-title {
  color: $color-grayscale-400;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.43px;
  line-height: 22px;
}

.promotion--header {
  height: 130px;
  margin-left: 220px;
}

.promo--title {
  color: $color-grayscale-800;
  font: bold 34px URWGeometric;
  font-style: normal;
  line-height: 38px;
  width: 100%;
}

.promo--title span {
  font-weight: normal;
}

.promo--type {
  color: $color-grayscale-800;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.1px;
  line-height: 26px;
  width: 100%;
}

.promo--brand-container {
  align-items: center;
  background-color: $color-grayscale-100;
  border: solid 1px $color-grayscale-300;
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  box-sizing: border-box;
  display: flex;
  height: 192px;
  justify-content: center;
  padding: 13px;
  position: absolute;
  top: 370px;
  width: 198px;
}

:host /deep/ .promo--brand-logo {
  max-height: 90px;
  max-width: 150px;
  min-width: 64px;
  width: auto;
}

.promo__tag {
  border-radius: 2px;
  color: $color-grayscale-100;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  padding: 0 8px;
  width: fit-content;
}
