<div>
    <div class="promo--brand-container">
        <app-lazy-image [image]="logoUrl" [emptyImage]="emptyIcon" [alt]="'Banner Image'"
            classImage="promo--brand-logo">
        </app-lazy-image>
    </div>
</div>

<div class="promotion--header">

    <div *ngIf="tag" class="margin-left-24 margin-top-24">
        <p class="promo__tag" [ngStyle]="{ 'background-color': tag.color ? tag.color : '#0d4ca6' }">
            {{ tag.label | capitalizeFirst | elypsis:18}}
        </p>
    </div>

    <div class="margin-left-24">
        <span class="promo--category" [ngStyle]="{'margin-top': tag ? '10px': '24px'}">
            <span class="promo--category-title">{{promo.sector.category | uppercase}} </span>
            <span *ngIf="promo.sector.subCategory" class="promo--subcategory-title">
                {{ '| ' + promo.sector.subCategory | uppercase}}
            </span>
        </span>
    </div>

    <p class="promo--title margin-top-8 margin-left-24"> {{ title }} <span *ngIf="title">en</span>
        {{ promo.commerceName }}</p>
    <p class="promo--type margin-left-24 margin-top-8" *ngIf="subtitle"> {{ subtitle | capitalizeFirst }} </p>
</div>