@import "~@zumo/core/colors";

:host /deep/.z-elements__left--element {
  margin: 0;
}

:host /deep/.z-elements__texts {
  border-left: solid 1px $color-grayscale-300;
  padding-left: 24px;
}

:host /deep/.z-elements__texts__sub-title {
  height: 0;
  padding: 0;
}

.container {

  &-mobile {

    & ::ng-deep .z-elements {
      padding: 8px;
    }

    & ::ng-deep .z-elements:hover {
      background-color: $color-grayscale-100;
    }
  }

  &-web {

    & ::ng-deep .z-elements:hover {
      background-color: $color-grayscale-100;
    }
  }
}

.item_text {
  display: flex;
  flex-direction: column;
  max-width: 230px;

  &__primary {
    color: $color-grayscale-800;
    font-family: Roboto;
    font-size: 1.125rem;
    font-stretch: normal;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.11px;
    line-height: normal;
  }

  &__secondary {
    color: $color-grayscale-800;
    font-family: Roboto;
    font-size: 1rem;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    letter-spacing: -0.1px;
    line-height: normal;
    padding-top: 4px;
  }

  &__direction {
    color: $color-grayscale-700;
    font-size: 0.875rem;
    letter-spacing: -0.09px;
    padding-top: 8px;
  }

  &__distance {
    color: $color-grayscale-700;
    font-family: Roboto;
    font-size: 0.875rem;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.71;
    padding-top: 4px;
  }
}

:host /deep/ .window_img {
  margin-right: 24px;
  max-width: 72px;
  min-width: 72px;
}

.gtm--variables {
  display: none;
}
