.chat_dialog {
  overflow: hidden;
  position: fixed;
  right: 30px;
  bottom: 5.28%;
  width: 375px;
  height: 500px;
  border: 0;
  border-radius: 6px;
  background-color: var(--white-of);
  box-sizing: border-box;
  box-shadow: 0 0 2px var(--bright-orange);
  z-index: 6;
}

.chat_dialog_head {
  display: table;
  width: 100%;
  height: 9%;
}

.chat_dialog_head_quit {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 30px;
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.chat_dialog_head_quit_control {
  width: 20px;
  padding: 9px 9px 0 0;
  color: var(--gray-b);
  border: 0;
  background-color: transparent;
  cursor: pointer;
  float: right;
}

.m_lanzador-chat {
  width: 320px;
  height: 568px;
  margin: 0 auto;
  bottom: 9%;
}

.title-copy {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.18;
  margin-bottom: 7.1%;
}

.title-copy,
.title,
.text {
  font-family: Roboto;
}
.title {
  font-size: 16px;
  font-weight: bold;
  color: var(--bright-orange);
  margin-top: 3%;
  margin-left: 6%;
}

.paragraph {
  line-height: 1.33;
  color: var(--gray-b);
  margin: 4% 0 4% 6%;
  flex: 2;
  max-width: 216px;
}

.naranja-logo {
  max-width: 51px;
  flex: 1;
  margin: 4.4% 2.64% 5.45% 0;
}

.bitmap {
  max-width: 40px;
  flex: 1;
  height: auto;
  margin: 4.93% 3.13% 8% 0;
}

.disclamer-copy {
  margin-left: 3.5%;
}

.mask {
  border-radius: 2px;
  border: solid 2px var(--gray-shadow2);
  margin-bottom: 4%;
  margin-top: 6%;
}

.mask:hover {
  background-color: var(--gray-shadow);
}

.card-container {
  display: flex;
  flex-direction: column;
}

.cards-container_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3%;
}

.text {
  font-size: 12px;
  color: var(--gray-b);
}

p + p {
  margin-top: 10px;
}

@media (max-width: 767px)  {
  .chat_dialog {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: auto;
      height: auto;
      border: 0;
      border-radius: 0px;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      box-shadow: none;
  }

  body {
    overflow: hidden;
  }
}