<div *ngIf="visible" class="chat_dialog">
  <div class="chat_dialog_head">
    <button class="chat_dialog_head_quit_control chat_dialog_head_quit" (click)='close()'>
      <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512">
        <path fill="currentColor"
          d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z">
        </path>
      </svg>
    </button>
  </div>
  <div class="m_lanzador-chat">
    <h1 class="title-copy">Elegí cómo contactarnos</h1>
    <div class="mask">
      <a class="footer-chat-button alfred-open chat-button card-container" href="javascript:showChat()">
        <div class="cards-container_info">
          <div class="card-container">
            <h2 class="title">Chat Online</h2>
            <p class="paragraph text">Escribinos, estamos acá para ayudarte</p>
          </div>
          <img src="../../../assets/img/naranja-v-2.svg" class="naranja-logo" alt="Naranja">
        </div>
      </a>
    </div>
    <div class="mask">
      <a rel="noopener noreferrer" href="https://wa.me/5493513695913" class="card-container">
        <div class="cards-container_info">
          <div class="card-container">
            <h2 class="title">Whatsapp</h2>
            <p class="paragraph text">Mandanos un mensaje desde donde estés!</p>
          </div>
          <img src="../../../assets/img/bitmap.png" class="bitmap" alt="Whatsapp">
        </div>
      </a>
    </div>
    <div class="card-container">
      <p class="disclamer-copy text">Nuestro agente virtual está disponible todos los días, a toda hora.</p>
      <p class="disclamer-copy text">Podés comunicarte con un Colaborador de lunes a sábado de 8:30 a 22 h.</p>
    </div>
  </div>
</div>