<section class="section">
  <div class="container section-jobs">
    <div class="columns is-multiline is-variable">
      <div class="column is-12-tablet is-8-widescreen">
        <div class="columns is-multiline is-variable">
          <ng-container *ngFor="let item of data.fields" [ngSwitch]="item.typeComponent">
            <ng-container *ngSwitchCase="ComponentType.ComponentSubtitle">
              <div class="column is-12 section-jobs-subtitle">
                <w2m-subtitle *ngIf="item.field as subtitle" class="section-jobs-subtitle" [w2mSubtitle]="item.field">
                  <p title-content *ngIf="subtitle.title">
                    {{ subtitle.title }}
                  </p>
                </w2m-subtitle>
                <div class="small-line"></div>
              </div>
            </ng-container>
          </ng-container>
          <div *ngFor="let job of jobs$ | async" class="column is-4">
            <w2m-card class="w2m-card" [card]="job" [urlLink]="job.urlLink" (click)="showJobDetail(job.id)">
              <div header-content class="w2m-card__image">
                <img class="w2m-card__card-image-img" [appDatasrc]="job.image" [alt]="job.altText">
              </div>
              <h3 title-content class="w2m-card__content-title">{{ job.title }}</h3>
              <div body-content class="w2m-card__content">
                <p class="w2m-card__content-paragraph" [innerHTML]="job.introduction | w2mSafeToHtml">
                </p>
                <div class="w2m-card__detail">
                  <div *ngIf="job.categories" class="w2m-card__category">
                    <h5 *ngFor="let category of getJobCategories(job)"
                      (click)="navigateToCategoryPage($event, category)">
                      <em class="far fa-tags"></em><strong>{{ category }}</strong>
                    </h5>
                  </div>
                </div>
                <p *ngIf="job.date">{{ job.date | date : 'fullDate' }}</p>
              </div>
            </w2m-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<mat-drawer-container class="w2m-sidenav-menu">
  <mat-drawer #drawer class="w2m-sidenav-menu__container" position="end" mode="over">
    <app-job-detail [job]="this.selectedJob"></app-job-detail>
  </mat-drawer>
</mat-drawer-container>
