<section>
  <div class="app-box-image-text">
    <div class="app-box-image-text__img">
      <img src="assets/img/ubico/home-2.jpg" alt="Home picture">
    </div>
    <div class="app-box-image-text__info">
      <div class="app-box-image-text__info-container">
        <p class="mat-display-1">Quienes somos</p>
        <div class="app-box-image-text__info-container-big-line">
          <div class="app-box-image-text__info-container-big-line--left"></div>
          <div class="app-box-image-text__info-container-big-line--right"></div>
        </div>
        <div class="app-box-image-text__info-container-description">
          <p>Somos la marca de <strong>Grupo Iberostar</strong> que lleva más allá el frío y limitado concepto de Corporate Travel. Una nueva experiencia de movilidad conectada: <strong>más amplia, global, más innovadora y humana.</strong></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="row-reverse">
  <div class="app-box-image-text">
    <div class="app-box-image-text__img">
      <img src="assets/img/ubico/home-4.jpg" alt="Home picture">
    </div>
    <div class="app-box-image-text__info">
      <div class="app-box-image-text__info-container">
        <p class="mat-display-1">Qué proponemos</p>
        <div class="app-box-image-text__info-container-big-line">
          <div class="app-box-image-text__info-container-big-line--left"></div>
          <div class="app-box-image-text__info-container-big-line--right"></div>
        </div>
        <div class="app-box-image-text__info-container-description">
          <p>Úbico es nuestra respuesta a la <strong>situación generada por esta pandemia.</strong></p>
          <p>Creamos nuevos modelos de <strong>servicio de movilidad </strong> para nuestro cliente, nuestro costumer y por supuesto, para nuestro equipo</p>
          <p>Nosotros nacemos como <strong>empresa de movilidad corporativa</strong>, somos y hemos sido agentes de viaje y estamos orgullosos, pero hemos <strong>evolucionado</strong> a la creación de una <strong>agencia de movilidad corporativa.</strong></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="app-box-image-text">
    <div class="app-box-image-text__img">
      <div class="app-box-image-text__img-float-text">
        <h2>Me admiraba a mí misma en posición de rezo</h2>
        <div class="app-box-image-text__img-float-text--background"></div>
      </div>
      <img src="assets/img/ubico/home-3.jpg" alt="Home picture">
    </div>
    <div class="app-box-image-text__info">
      <div class="app-box-image-text__info-container">
        <p class="mat-display-1">Personas</p>
        <div class="app-box-image-text__info-container-big-line">
          <div class="app-box-image-text__info-container-big-line--left"></div>
          <div class="app-box-image-text__info-container-big-line--right"></div>
        </div>
        <div class="app-box-image-text__info-container-description">
          <p>Con la boca fría y casi en las piedras, seca, con la mirada hacia dentro, aunque mis irises apuntasen afuera</p>
          <p>Mi madre, y no deja de llamarme la atención, sólo rezaba a los dioses que ella creía superiores, más poderosos o más útiles, o según le convenían al momento de soplar las velas y echar en falta.</p>
          <p>Está bien, entonces seamos justo lo que somos. En mi caso, yo rezaba siempre a todos. A los dioses del color y a los de la oscuridad, a los dioses de la cascada, los dioses de la tortura. A los que se desdibujaban en los ojos delirantes de la bestia casi muerta, y también a los que observaban impasibles, satisfechos, las concepciones y nacimientos.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="row-reverse">
  <div class="app-box-image-text">
    <div class="app-box-image-text__img">
      <div class="app-box-image-text__img-float-text">
        <h2>Y por si no fuera poco</h2>
        <div class="app-box-image-text__img-float-text--background"></div>
      </div>
      <img src="https://images.unsplash.com/photo-1605956093065-da539902deb9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="Home picture">
    </div>
    <div class="app-box-image-text__info">
      <div class="app-box-image-text__info-container">
        <p class="mat-display-1">No reía más</p>
        <div class="app-box-image-text__info-container-big-line">
          <div class="app-box-image-text__info-container-big-line--left"></div>
          <div class="app-box-image-text__info-container-big-line--right"></div>
        </div>
        <div class="app-box-image-text__info-container-description">
          <p>Caminaba echando su cuerpo, casi redondo completamente, hacia ambos lados, como si fuese a caerse todo el tiempo, tanto si pisaba sobre las piedras como sobre suelo firme. Ana se encargaría, según indicó mi padre al verla pisar la orilla, de instruir a Jonás en Geografía y en otras lenguas del océano, idiomas y dialectos de otras islas y pueblos distintos al nuestro.</p>
          <p>La tercera persona en bajar fue Sonia, una mujer ancha de caderas, de pelo corto y ojos excesivamente abiertos y claros, que enseñaría a Jonás a leer con propiedad y a escribir siguiendo todas las normas de ortografía. Y, por último, poniendo sus pies sobre las puntiagudas piedras casi a cámara lenta,</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="box-image-text-full">
  <div class="app-box-image-text">
    <div class="app-box-image-text__img">
      <div class="app-box-image-text__img-float-text">
        <h2>Calculando exactamente el ángulo</h2>
        <div class="app-box-image-text__img-float-text--background"></div>
      </div>
      <img src="assets/img/ubico/home-4.jpg" alt="Home picture">
    </div>
    <div class="app-box-image-text__info">
      <div class="app-box-image-text__info-container">
        <h2>Primeras colinas</h2>
        <div class="app-box-image-text__info-container-small-line"></div>
        <div class="app-box-image-text__info-container-description">
          <p>La cena de bienvenida que organizó mi padre fue abundante y tranquila, todos cumplieron con su papel correspondiente y comieron y bebieron y sonrieron, incluida mi preciosa Hestia. Yo también comí y bebí hasta que quedé harta y luego, pidiendo permiso educadamente, me puse de pie y me retiré, buscando el frescor del exterior del castillo</p>
          <p>Allí abajo no había luz, sólo algún rayo debilucho que caía de la luna a las piedras bajo mis pies. Sentí entonces unos pasos tímidos detrás de mí y me volví bruscamente, "Siento asustarte", dijo el supuesto marido de Sonia. "No pasa nada", dije yo.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="row-reverse box-image-text-full">
  <div class="app-box-image-text">
    <div class="app-box-image-text__img">
      <div class="app-box-image-text__img-float-text">
        <h2>Ni siquiera los todopoderosos signos</h2>
        <div class="app-box-image-text__img-float-text--background"></div>
      </div>
      <img src="https://images.unsplash.com/photo-1497215728101-856f4ea42174?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="Home picture">
    </div>
    <div class="app-box-image-text__info">
      <div class="app-box-image-text__info-container">
        <h2>Me agaché sin contestar</h2>
        <div class="app-box-image-text__info-container-small-line"></div>
        <div class="app-box-image-text__info-container-description">
          <p>Allí abajo no había luz, sólo algún rayo debilucho que caía de la luna a las piedras bajo mis pies. Sentí entonces unos pasos tímidos detrás de mí y me volví bruscamente, "Siento asustarte", dijo el supuesto marido de Sonia. "No pasa nada", dije yo. A</p>
          <p>A lo lejos, unas nubes imprevistas habían empezado a recubrir parte del techo abovedado del mar. Pensé que eso quizá quería decir que llovería, y me concentré cerrando fuerte los ojos para respirar muy hondo y no agobiarme, ya que la falta de sol siempre me había provocado algo de asfixia.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="box-image-text-full">
  <div class="app-box-image-text">
    <div class="app-box-image-text__img">
      <img src="https://images.unsplash.com/photo-1536257104079-aa99c6460a5a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="Home picture">
    </div>
    <div class="app-box-image-text__info">
      <div class="app-box-image-text__info-container">
        <h2>Tenía canas </h2>
        <div class="app-box-image-text__info-container-small-line"></div>
        <div class="app-box-image-text__info-container-description">
          <p>Él no insistió, se puso a contar cosas sobre sí mismo mientras yo me dedicaba a colar los dedos entre las piedras. Algunas de las historietas que contaba se asemejaban a algunas que había vivido yo. "Yo tengo menos experiencia en todo que usted", le dije, "pero también he vivido cosas parecidas".</p>
          <p>Me disculpé y seguí escuchándolo. Era un hombre que sabía decir las cosas, y casi todo lo que decía era agradable, interesante o divertido. Me recordaba a los antiguos trovadores, como los que mi padre había hecho llamar en mis primeros cumpleaños.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="row-reverse box-image-text-full">
  <div class="app-box-image-text">
    <div class="app-box-image-text__img">
      <img src="https://images.unsplash.com/photo-1589737655982-73ef7ea30a69?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80" alt="Home picture">
    </div>
    <div class="app-box-image-text__info">
      <div class="app-box-image-text__info-container">
        <h2>Pensé que existía la posibilidad</h2>
        <div class="app-box-image-text__info-container-small-line"></div>
        <div class="app-box-image-text__info-container-description">
          <p>Si tiras de la cuerda, las estrellas se mecen, me dijo una vez mi abuelo cuando yo era todavía muy pequeña. Su voz, la voz de Raúl, se balanceaba en el aire y tiraba de esa cuerda, y las estrellas del cielo parecía que se meciesen, que se acercasen unas a otras y se separasen luego.</p>
          <p>Tras varias horas sin sacar más de dos frases de mí, Raúl se puso de pie y se dispuso a marcharse. "Eres más dura que las piedras", añadió antes de irse sacudiéndose la chaqueta.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="brand-color iberostar">
  <div class="app-box-image-text">
    <div class="app-box-image-text__img">
      <div class="app-box-image-text__img-float-text">
        <h2>Empacó sus siete versales, enfundó su inicial en el cinturón</h2>
        <div class="app-box-image-text__img-float-text--background"></div>
      </div>
      <img src="assets/img/ubico/home-3.jpg" alt="Home picture">
    </div>
    <div class="app-box-image-text__info">
      <div class="app-box-image-text__info-container">
        <p class="mat-display-1">Al día siguiente</p>
        <div class="app-box-image-text__info-container-big-line">
          <div class="app-box-image-text__info-container-big-line--left"></div>
          <div class="app-box-image-text__info-container-big-line--right"></div>
        </div>
        <div class="app-box-image-text__info-container-description">
          <p>Ana, la señora sin cuello que caminaba hacia los lados, explicándole algunos términos en una lengua extraña al hijo de Leroy, que la miraba bastante interesado y tomaba apuntes en su cuaderno.</p>
          <p>Creo que fue la primera vez que Jonás usaba uno, aunque ya le habíamos enseñado a leer y a escribir años antes. Me senté a su lado unos minutos esperando a mi amiga, y le pasé el dedo por detrás de la oreja para que me la apartase riéndose,</p>
          <p>No logré entender ninguna. Ella, ante mi interés mostrado por su libro, se dirigió hacia mí antes de empezar su clase.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="row-reverse brand-color w2m">
  <div class="app-box-image-text">
    <div class="app-box-image-text__img">
      <div class="app-box-image-text__img-float-text">
        <h2>Anoche te fuiste muy pronto a la playa</h2>
        <div class="app-box-image-text__img-float-text--background"></div>
      </div>
      <img src="https://images.unsplash.com/photo-1605956093065-da539902deb9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="Home picture">
    </div>
    <div class="app-box-image-text__info">
      <div class="app-box-image-text__info-container">
        <p class="mat-display-1">Me aburro</p>
        <div class="app-box-image-text__info-container-big-line">
          <div class="app-box-image-text__info-container-big-line--left"></div>
          <div class="app-box-image-text__info-container-big-line--right"></div>
        </div>
        <div class="app-box-image-text__info-container-description">
          <p>Yo asentí con la cabeza y nos volvimos al castillo, pero me parecía injusto tener que renunciar a mis momentos junto al mar sólo porque me decían que huyese de aquel señor.</p>
          <p>No quería tener que ser yo la que se protegiese de nada ni de nadie, y sentía que no tenía por qué hacerlo, fuese o no verdad la advertencia de Ana. Confié en mi criterio y en mis mecanismos de defensa: si era un vendedor de humo, pues que me vendiese humo</p>
        </div>
      </div>
    </div>
  </div>
</section>