<ng-container [ngSwitch]="data.typeHero">
  <div *ngSwitchCase="heroType.HOME" class="section-hero-home">
    <ng-container *ngFor="let item of data.fields" [ngSwitch]="item.typeComponent">
      <ng-container *ngSwitchCase="ComponentType.ComponentCarousel">
        <ng-container *ngIf="item.field.length">
          <w2m-slider class="container" [sliderConfig]="sliderConfig">
            <w2m-image *ngFor="let slide of item.field" class="slide" [image]="slide"></w2m-image>
          </w2m-slider>
        </ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="ComponentType.ComponentButton">
          <w2m-button *ngIf="item" class="columns is-centered section-hero-home__button" (clicked)="scrollDown()" [buttonData]="item">
            <img src="../../../assets/img/hero-icon.svg" alt="">
            <em class="fas fa-sort-down"></em>
          </w2m-button>
      </ng-container>
    </ng-container>
  </div>
  <div *ngSwitchCase="heroType.NEWS" class="section-hero-news">

  </div>
  <div *ngSwitchDefault class="section-hero-default" [ngClass]="data.typeHero">
    <img class="section-hero-default--image" *ngIf="data.backgroundImage" [src]="data.backgroundImage" [alt]="data.altText">
    <ng-container *ngFor="let item of data.fields" [ngSwitch]="item.typeComponent">
      <ng-container *ngSwitchCase="ComponentType.ComponentSubtitle">
          <w2m-subtitle class="section-hero-default--title" [w2mSubtitle]="item.field"></w2m-subtitle>
      </ng-container>
    </ng-container>
  </div>

</ng-container>

