<section class="w2f-section-info section" *ngIf="uuid | sections | async as data; else noDataResult" [anchor]="data.anchor"  [class.section-background]="data.backgroundColor">
  <div class="container">
  
    <div class="columns is-variable is-multiline">
      <ng-container *ngFor="let component of data.components" [ngSwitch]="component.type">
        <ng-container *ngSwitchCase="ComponentType.ComponentIcons">
         <div class="info-item">
          <ng-template [lazyComp]="component.type"
            [inputs]="{info: component.data}">
          </ng-template>
           <!-- <ng-template #infoItem></ng-template> -->
         </div>
    
       
        <!-- <w2fly-info-item
          *ngFor="let info of item.field"
          class="column is-12 is-4-desktop"
          [info]="info">
        </w2fly-info-item> -->
        
        </ng-container>
    </ng-container>
    </div>
     
    </div>
</section>


<ng-template #noDataResult>
  <app-skeleton-box></app-skeleton-box>
</ng-template>
