::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

::ng-deep .mat-form-field-underline {
  display: none !important;
}

::ng-deep .mat-form-field-flex {
  border-radius: 0.25rem !important;
}

::ng-deep .mat-form-field {
  display: block !important;
}

::ng-deep .mat-radio-outer-circle,
::ng-deep .mat-checkbox-frame {
  border-color: $gray;
  border-width: 0.0625rem;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: $body-color;
}

::ng-deep .mat-form-field-subscript-wrapper {
  overflow: visible !important;
  position: relative !important;
}
