// Angular material overwriting
@import '~@angular/material/theming';

// TYPOGRAPHY

@font-face {
  font-display: swap;
  font-family: 'cirkaregular';
  src: url('https://sadesignw2m.blob.core.windows.net/ubico/fonts/cirka-regular.woff2') format('woff2'),
       url('https://sadesignw2m.blob.core.windows.net/ubico/fonts/cirka-regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'cirkabold';
  src: url('https://sadesignw2m.blob.core.windows.net/ubico/fonts/cirka-bold.woff2') format('woff2'),
       url('https://sadesignw2m.blob.core.windows.net/ubico/fonts/cirka-bold.woff') format('woff');
}

$ubi-typography: mat-typography-config(
  $font-family: 'Open Sans, sans-serif',
  $headline: mat-typography-level(3.75rem, 4.6rem, 700, 'cirkabold'),
  $title: mat-typography-level(3.125rem, 3.1rem, 700, 'cirkabold'),
  $subheading-2: mat-typography-level(1.25rem, 2rem, 300, 'Open Sans, sans-serif'),
  $subheading-1: mat-typography-level(1rem, 1.4rem, 400, 'Open Sans, sans-serif'),
  $body-1: mat-typography-level(1rem, 1.4rem, 400, 'Open Sans, sans-serif'),
  $body-2: mat-typography-level(1rem, 1.4rem, 600, 'Open Sans, sans-serif'),
  $caption: mat-typography-level(0.75rem, 1.1rem, 400, 'Open Sans, sans-serif'),
  $button: mat-typography-level(1rem, 1.4rem, 600, 'Open Sans, sans-serif'),
  $display-1: mat-typography-level(6.5rem, 6rem, 700, 'cirkabold'),
  $display-2: mat-typography-level(5.625rem, 5rem, 700, 'cirkabold'),
);

@include mat-core($ubi-typography);

// COLORS
$ubi-darkblue: (
    50 : #E0E8EE,
    100 : #B3C5D5,
    200 : #809FB9,
    300 : #4D789C,
    400 : #265B87,
    500 : #003E72,
    600 : #00386A,
    700 : #00305F,
    800 : #002855,
    900 : #001B42,
    A100 : #77A0FF,
    A200 : #447CFF,
    A400 : #1158FF,
    A700 : #004AF6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #FFFFFF,
        400 : #FFFFFF,
        500 : #FFFFFF,
        600 : #FFFFFF,
        700 : #FFFFFF,
        800 : #FFFFFF,
        900 : #FFFFFF,
        A100 : #000000,
        A200 : #FFFFFF,
        A400 : #FFFFFF,
        A700 : #FFFFFF,
    )
);

$ubi-green: (
    50 : #EEF7E9,
    100 : #D5ECC7,
    200 : #B9DFA2,
    300 : #9CD27C,
    400 : #87C960,
    500 : #72BF44,
    600 : #6AB93E,
    700 : #5FB135,
    800 : #55A92D,
    900 : #429B1F,
    A100 : #E0FFD5,
    A200 : #BAFFA2,
    A400 : #94FF6F,
    A700 : #81FF56,
    contrast: (
        50 : #FFFFFF,
        100 : #FFFFFF,
        200 : #FFFFFF,
        300 : #FFFFFF,
        400 : #FFFFFF,
        500 : #FFFFFF,
        600 : #FFFFFF,
        700 : #FFFFFF,
        800 : #FFFFFF,
        900 : #FFFFFF,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$ubi-softblue: (
    50 : #E0F4FB,
    100 : #B3E5F6,
    200 : #80D3F0,
    300 : #4DC1EA,
    400 : #26B4E6,
    500 : #00A7E1,
    600 : #009FDD,
    700 : #0096D9,
    800 : #008CD5,
    900 : #007CCD,
    A100 : #F5FAFF,
    A200 : #C2E3FF,
    A400 : #8FCDFF,
    A700 : #75C1FF,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #FFFFFF,
        600 : #FFFFFF,
        700 : #FFFFFF,
        800 : #FFFFFF,
        900 : #FFFFFF,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$ubi-turquoise: (
    50 : #E4F9FA,
    100 : #BCEFF2,
    200 : #8FE5E9,
    300 : #62DAE0,
    400 : #40D2DA,
    500 : #1ECAD3,
    600 : #1AC5CE,
    700 : #16BDC8,
    800 : #12B7C2,
    900 : #0AABB7,
    A100 : #E3FDFF,
    A200 : #B0F9FF,
    A400 : #7DF4FF,
    A700 : #63F2FF,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #FFFFFF,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$ubi-pink: (
    50 : #FBE3F0,
    100 : #F5B9DA,
    200 : #EF8BC1,
    300 : #E95CA8,
    400 : #E43996,
    500 : #DF1683,
    600 : #DB137B,
    700 : #D71070,
    800 : #D20C66,
    900 : #CA0653,
    A100 : #FFF3F7,
    A200 : #FFC0D6,
    A400 : #FF8DB4,
    A700 : #FF74A3,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #FFFFFF,
        500 : #FFFFFF,
        600 : #FFFFFF,
        700 : #FFFFFF,
        800 : #FFFFFF,
        900 : #FFFFFF,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$ubi-purple: (
    50 : #ECE5F3,
    100 : #CFBEE2,
    200 : #B093CF,
    300 : #9067BB,
    400 : #7847AD,
    500 : #60269E,
    600 : #582296,
    700 : #4E1C8C,
    800 : #441782,
    900 : #330D70,
    A100 : #C2A3FF,
    A200 : #A070FF,
    A400 : #7F3DFF,
    A700 : #6E24FF,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #FFFFFF,
        400 : #FFFFFF,
        500 : #FFFFFF,
        600 : #FFFFFF,
        700 : #FFFFFF,
        800 : #FFFFFF,
        900 : #FFFFFF,
        A100 : #000000,
        A200 : #000000,
        A400 : #FFFFFF,
        A700 : #FFFFFF,
    )
);

$ubi-gray: (
    50 : #ECECEC,
    100 : #D0D0D0,
    200 : #B0B0B0,
    300 : #909090,
    400 : #797979,
    500 : #616161,
    600 : #595959,
    700 : #4F4F4F,
    800 : #454545,
    900 : #333333,
    A100 : #F39595,
    A200 : #EE6868,
    A400 : #FF2424,
    A700 : #FF0A0A,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #FFFFFF,
        500 : #FFFFFF,
        600 : #FFFFFF,
        700 : #FFFFFF,
        800 : #FFFFFF,
        900 : #FFFFFF,
        A100 : #000000,
        A200 : #000000,
        A400 : #FFFFFF,
        A700 : #FFFFFF,
    )
);

$ubi-red: (
    50 : #FFE2E2,
    100 : #FFB6B6,
    200 : #FF8585,
    300 : #FF5454,
    400 : #FF2F2F,
    500 : #FF0A0A,
    600 : #FF0909,
    700 : #FF0707,
    800 : #FF0505,
    900 : #FF0303,
    A100 : #FFFFFF,
    A200 : #FFF2F2,
    A400 : #FFBFBF,
    A700 : #FFA6A6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #FFFFFF,
        500 : #FFFFFF,
        600 : #FFFFFF,
        700 : #FFFFFF,
        800 : #FFFFFF,
        900 : #FFFFFF,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$ubi-orange: (
    50 : #FDF1E0,
    100 : #FADDB3,
    200 : #F7C680,
    300 : #F4AF4D,
    400 : #F19D26,
    500 : #EF8C00,
    600 : #ED8400,
    700 : #EB7900,
    800 : #E86F00,
    900 : #E45C00,
    A100 : #FFFFFF,
    A200 : #FFE5D8,
    A400 : #FFC3A5,
    A700 : #FFB38B,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #FFFFFF,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$app-primary: mat-palette($ubi-darkblue);
$app-accent:  mat-palette($ubi-green);
$app-warn:  mat-palette($ubi-orange);

$ubi-app-theme: mat-light-theme(
  (
    color: (
      primary: $app-primary,
      accent: $app-accent,
      warn: $app-warn
    )
  )
);

@include angular-material-theme($ubi-app-theme);
