<section class="section">
  <div class="container app-news">
    <div class="columns">
      <div class="column">
        <h2>Quieres saber más</h2>
      </div>
    </div>
    <div class="columns is-multiline is-variable">
      <div class="column is-12-tablet is-8-widescreen">        
        <div class="columns is-multiline is-variable">
          <div class="column is-12 app-news-subtitle">
            <p><strong>Artículos</strong></p>
            <div class="small-line"></div>
          </div>
          <div class="column is-6">
            <a href="#">
              <div class="columns app-news__card">
                <div class="column">
                  <div class="app-news__card-image">
                    <img class="app-news__card-image-img" src="../../../assets/img/ubico/article-1.jpg" alt="Article image">
                  </div>  
                  <div class="app-news__card-title">
                    <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum, dolor sit amet consectetur adipisicing elit.</strong></p>
                  </div> 
                  <div class="app-news__card-description">
                    <p>Vestibulum consequat consectetur luctus. Donec fringilla, ipsum ac pulvinar placerat, metus nibh bibendum ipsum, eu congue leo lacus at velit. Nullam blandit. Lacus vitae ullamcorper blandit,</p>
                  </div>
                  <div class="app-news__card-category">
                    <h5><em class="far fa-tags"></em><strong> Destinos</strong></h5>
                    <h5>Lunes  12 de Febrero 2023</h5>
                  </div>       
                </div>
              </div>
            </a>
          </div>
          <div class="column is-6">
            <a href="#">
              <div class="columns app-news__medium-card">
                <div class="column is-12">
                  <div class="columns">
                    <div class="column is-6">
                      <div class="app-news__medium-card-image">
                        <img class="app-news__medium-card-image-img" src="../../../assets/img/ubico/home-2.jpg" alt="Article image">
                      </div>
                    </div>
                    <div class="column is-6">
                      <div class="app-news__medium-card-text">
                        <div class="app-news__medium-card-text-title">
                          <p><strong>Quisque a est in enim commodo sollicitudin nec in enim. Quisque consequat euismod mauris, ac hendrerit turpis sodales eget. Nunc posuere tempor posuere. Nam egestas commodo justo, eget malesuada mi rhoncus ac.</strong></p>
                        </div> 
                        <div class="app-news__medium-card-text-category">
                          <h5><em class="far fa-tags"></em><strong> Destinos</strong></h5>
                          <h5>Lunes  12 de Febrero 2023</h5>
                        </div>                   
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <a href="#">
              <div class="columns app-news__medium-card">
                <div class="column is-12">
                  <div class="columns">
                    <div class="column is-6">
                      <div class="app-news__medium-card-image">
                        <img class="app-news__medium-card-image-img" src="../../../assets/img/ubico/home-2.jpg" alt="Article image">
                      </div>
                    </div>
                    <div class="column is-6">
                      <div class="app-news__medium-card-text">
                        <div class="app-news__medium-card-text-title">
                          <p><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt rerum possimus tenetur commodi architecto, perferendis iure nesciunt dolore eligendi dicta.</strong></p>
                        </div> 
                        <div class="app-news__medium-card-text-category">
                          <h5><em class="far fa-tags"></em><strong> Destinos</strong></h5>
                          <h5>Lunes  12 de Febrero 2022</h5>
                        </div>                   
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div> 
        </div>
      </div>
      <div class="column is-12-tablet is-4-widescreen">
        <div class="columns">
          <div class="column is-12 app-news-subtitle">
            <p><strong>Noticias Destacadas</strong></p>
            <div class="small-line"></div>
          </div>
        </div>
        <a href="#">
          <div class="columns app-news__small-card">
            <div class="column is-4">
              <div class="app-news__small-card-image">
                <img class="app-news__small-card-image-img" src="../../../assets/img/ubico/home-2.jpg" alt="Article image">
              </div>
            </div>
            <div class="column is-8">
              <div class="app-news__small-card-text">
                <div class="app-news__small-card-text-title">
                  <p><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, saepe!</strong></p>
                </div> 
                <div class="app-news__small-card-category">
                  <h5><em class="far fa-tags"></em><strong> Destinos</strong></h5>
                  <h5>Lunes  12 de Febrero 2022</h5>
                </div> 
              </div>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="columns app-news__small-card">
            <div class="column is-4">
              <div class="app-news__small-card-image">
                <img class="app-news__small-card-image-img" src="../../../assets/img/ubico/home-2.jpg" alt="Article image">
              </div>
            </div>
            <div class="column is-8">
              <div class="app-news__small-card-text">
                <div class="app-news__small-card-text-title">
                  <p><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, fugit?</strong></p>
                </div> 
                <div class="app-news__small-card-category">
                  <h5><em class="far fa-tags"></em><strong> Destinos</strong></h5>
                  <h5>Lunes  12 de Febrero 2022</h5>
                </div> 
              </div>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="columns app-news__small-card">
            <div class="column is-4">
              <div class="app-news__small-card-image">
                <img class="app-news__small-card-image-img" src="../../../assets/img/ubico/home-2.jpg" alt="Article image">
              </div>
            </div>
            <div class="column is-8">
              <div class="app-news__small-card-text">
                <div class="app-news__small-card-text-title">
                  <p><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, voluptatem.</strong></p>
                </div> 
                <div class="app-news__small-card-category">
                  <h5><em class="far fa-tags"></em><strong> Destinos</strong></h5>
                  <h5>Lunes  12 de Febrero 2022</h5>
                </div> 
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>