<div>
  <div class="container">
    <z-card [isNotHover]="true" [clickable]="false"
    [styleList]="{'margin': '8px 0'}">

      <div class="error-container">
        <picture>
          <source type="image/webp" [appDatasrcset]="emptyIconUrl" >
          <img [appDatasrc]="emptyIconUrl" class="lazyload error--icon" alt="Empty Icon">
        </picture>
        <p class="error--title">{{ errorStateData.errorTitle }}</p>
        <p class="error--subtitle">{{ errorStateData.errorSubtitle }}</p>
        <z-button *ngIf="errorStateData?.errorBtn" [text]="errorStateData.errorBtn" type="link" [widthButton]="'260px'" (clickButton)="onClickButton()"></z-button>
      </div>
  </z-card>
  </div>
</div>
