<section class="section section-carousel-logos">
  <div class="container">
    <div class="columns">
      <div class="column">
        <a href="#">
          <div class="carousel-logo">
            <img src="assets/img/ubico/logo-w2m-color.png" alt="">
          </div>
        </a>
      </div>
      <div class="column">
        <a href="#">
          <div class="carousel-logo">
            <img src="assets/img/ubico/logo-w2m-color.png" alt="">
          </div>
        </a>
      </div>
      <div class="column">
        <a href="#">
          <div class="carousel-logo">
            <img src="assets/img/ubico/logo-w2m-color.png" alt="">
          </div>
        </a>
      </div>
      <div class="column">
        <a href="#">
          <div class="carousel-logo">
            <img src="assets/img/ubico/logo-w2m-color.png" alt="">
          </div>
        </a>
      </div>
      <div class="column">
        <a href="#">
          <div class="carousel-logo">
            <img src="assets/img/ubico/logo-w2m-color.png" alt="">
          </div>
        </a>
      </div>
    </div>
  </div>
</section>