<div class="map-container">
    <div class="chips--container" *ngIf="isFilteredSearchActive()">
        <app-info-chips-mobile *ngIf="locationFilteredData().length" [type]="'location'" [data]="locationFilteredData()" (edit)="openFilterDialog()" (close)="onCloseChip($event)"></app-info-chips-mobile>
        <app-info-chips-mobile *ngIf="categoriesFiltered.length" [type]="'categories'" [data]="categoriesFiltered" (edit)="openFilterDialog()" (close)="onCloseChip($event)"></app-info-chips-mobile>
    </div>
    <div class="map-container__button">
      <z-button *ngIf="outOfBounds" text="{{'PAGES.MAPS.SEARCH_ZONE' | translate }}" (clickButton)="getNewLocation()" widthButton="200px"
        [isLoading]="isLoading" type="link" style="background-color: #FFFFFF; border-radius: 60px; box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);"></z-button>
    </div>

    <agm-map (centerChange)="verifyPosition($event)" [latitude]="initialPoint.lat" [longitude]="initialPoint.lng"
      [zoom]="currentZoom" [minZoom]="minZoom" [maxZoom]="maxZoom" [streetViewControl]="false" [styles]="mapStyles" (zoomChange)="manageZoom($event)" [gestureHandling]="'greedy'">

      <agm-marker [latitude]="initialPoint.lat" [longitude]="initialPoint.lng"
        [iconUrl]="'assets/images/icons/punto.jpg'">
      </agm-marker>
      <agm-marker-cluster [styles]="clusterStyles">
        <agm-marker *ngFor="let marker of markersFiltered; let i = index" [latitude]="marker.lat"
          [longitude]="marker.lng" [iconUrl]="marker.pointer" [zIndex]="i +1"
          [label]="showLabels ? {'font-size': '14px',
      'font-weight': 'normal', 'font-family': 'Roboto', 'color': '#333333', 'text': truncateLabel(marker.label, marker.isSelected)} : null" (markerClick)="markerSelect(marker)">
          <agm-snazzy-info-window (afterClose)="setIcon(marker, false)" [pointer]="'4px'" [shadow]="true"
            [closeWhenOthersOpen]="true" [maxWidth]="'300px'" [maxHeight]="'400px'" [padding]="'20px 0 0 0'"
            [placement]="'bottom'">
            <ng-template>
              <app-map-info-window class="window" [data]="marker.promotions" (promoClick)="onPromoClicked($event)" [platform]="'app'"></app-map-info-window>
            </ng-template>
          </agm-snazzy-info-window>
        </agm-marker>
      </agm-marker-cluster>
    </agm-map>
</div>
