@import "src/scss/ubico/variables";

.w-button-language {
  border-radius: 0.25rem;
  color: $white;
  font-size: 1rem;
  font-weight: 700;

  em {
    margin-left: 0.3125rem;
    margin-top: 0.8125rem;
    position: relative;
  }

  &:hover {
    background: none;
    box-shadow: none;
  }

  ::ng-deep .mat-ripple-element {
    background-color: transparent;
  }
}

::ng-deep .mat-menu-content {
  button {
    &:hover {
      background: none !important;
      box-shadow: none;
    }
  }
}

::ng-deep .mat-menu-panel {
  border-radius: 0 !important;
  margin-left: -4.5rem !important;
}
