<app-navbar-mobile *ngIf="!loading" [title]="selectedFeaturePromo.description" [shadow]="true" [fixed]="false">
</app-navbar-mobile>

<div class="spinner--container" *ngIf="loading">
    <z-loading type="primary" size="large"></z-loading>
</div>

<div *ngIf="!error">
    <div *ngIf="!loading">


        <picture *ngIf="selectedFeaturePromo">
            <source type="image/webp" [appDatasrcset]="getHeaderImage()">
            <img alt="Header image" [appDatasrc]="getHeaderImage()" class="lazyload">
        </picture>

        <div class="filter--container">
            <p class="message--counter" *ngIf="promos.length + promosRendered.length === 1">
                Tenemos {{ promos.length + promosRendered.length }} promo especial</p>
            <p class="message--counter" *ngIf="promos.length + promosRendered.length > 1">
                Tenemos {{ promos.length + promosRendered.length }} promos especiales</p>
        </div>

        <div class="featured--container">
            <app-promo-list-mobile [showOpenFilterButton]="false" [isLastPage]="true" (scrolled)="onScroll()"
                [loading]="loading" [promos]="promos" [promosRendered]="promosRendered"
                [analitycsCreativeClass]="analyticsClass">
            </app-promo-list-mobile>
        </div>

    </div>
</div>

<div *ngIf="error">
    <app-error-state (retryClicked)="retry()"></app-error-state>
</div>

<ng-container *ngIf="promos.length === 0">
    <app-footer-ncom></app-footer-ncom>
</ng-container>