// Overriding global variables++

// COLORS

$darkblue: #121E7E;
$blue: #5C94F7;
$turquoise: #0EEEE9;
$red: #C52E1C;
$orange: #F4B63E;
$green: #4CAF50;
$gray: #505759;
$soft: #F7F7F7;
$dark: #272C2E;
$white: #FFFFFF;
$soft-text: #CBCDCD;

$primary: $darkblue;
$secondary: $blue;
$tertiary: $turquoise;
$quaternary: $red;

$info: $blue;
$success: $green;
$warning: $orange;
$danger: $red;
$light: $soft;
$background: $soft;

$headings-color: $primary;
$headings-color-light: $white;
$text-color-light: $white;

// TYPOGRAPHY

$base-font-family: 'Montserrat', sans-serif;
$headings-font-family: 'Sofia Pro Soft W01 Medium', sans-serif;
$button-font-family: 'Sofia Pro Soft W01 Regular', sans-serif;

// COMPONENTS

//Mat-basic-chip
$chip-font-family: $headings-font-family;
$chip-font-size: 1rem;
$chip-line-height: 1.25rem;
$chip-color: $white;
$chip-border-radius: 3.125rem;

//Mat-card
$card-border-radius: 0;

//Mat-card
$card-border-radius: 0.625rem;
$card-content-padding: 2.5rem;

//W2F variables
$w2f-card-border-radius: 0 0 0 5rem;
$w2f-card-height: 21.25rem;

//Breakpoints
$media-tablet: 48.0625rem;
$media-desktop: 64rem;
$media-widescreen: 76rem;
$media-fullhd: 88rem;

$section-padding: 6.25rem;
