<div class="empty--state-container">
  <picture>
    <source type="image/webp" [appDatasrcset]="emptyIconUrl">
    <img [appDatasrc]="emptyIconUrl" [defaultImage]="emptyIconUrl" alt="Empty State" class="lazyload empty--state-icon">
  </picture>
  <p class="empty--state-title"> {{ emptyTitle | translate }} </p>
  <p class="empty--state-subtitle"> {{ emptySubtitle | translate }}</p>
  <z-button *ngIf="showOpenFilterButton" text="{{emptyBtn}}" type="link" [widthButton]="'260px'"
    (clickButton)="onClickButton()"></z-button>
</div>
