@import "src/scss/brands/w2fly/variables";

.w2f-tags {
  &__item {
    background-color: $primary;
    border-radius: $chip-border-radius;
    color: $chip-color;
    font-family: $chip-font-family;
    font-size: $chip-font-size;
    line-height: $chip-line-height;
    margin: 0.25rem;
    padding: 0.1875rem 0.625rem 0.3125rem;

    &--red {
      background-color: $red;
    }

    &--blue {
      background-color: $primary;
    }

    &:focus {
      outline: none;
    }
  }
}
