<div *ngFor="let category of categories; let index=index">
  <ng-container *ngIf="category && category.subcategories.length == 0; then categoryItem else categoryWithChildrenItem">
  </ng-container>
  <!-- Category item with no children -->
  <ng-template #categoryItem>
    <div class="category-no-children-container">
    <z-list id="filterCategoriesList" [index]="index" (elementSelected)="onCategorySelected($event)"
      [notPadding]="false" [clickable]="false">
      <div left>
        <app-lazy-image [image]="getCategoryIcon(category.text)" [emptyImage]="getEmptyIcon(category.text)"
          [alt]="'category icon'" classImage="promo--category-icon">
        </app-lazy-image>
      </div>
      <div primaryTitle>
        <p class="category--title--text"> {{category.text}}</p>
      </div>
      <div right>
        <z-checkbox [checkbox]="category.checkbox"></z-checkbox>
      </div>
    </z-list>
  </div>
  </ng-template>

  <!-- Category item with children -->
  <ng-template #categoryWithChildrenItem>
    <div class="accordion-container">
      <z-accordion appRemoveDomEl [isOpen]="false" [isNotLine]="false">
        <div headerTitle class="headerTitle">
          <div class="category-list__image">
            <app-lazy-image [image]="getCategoryIcon(category.text)" [emptyImage]="getEmptyIcon(category.text)"
              [alt]="'category icon'" classImage="promo--category-icon">
            </app-lazy-image>
          </div>
          <div class="category-list__header">
            <p class="category--title--text"> {{category.text}}
              {{getCurrentSelectedSubcategoriesInCategoryCounter(category)}}</p>
          </div>
        </div>
        <div class="category-list__subcategories-list"
          *ngFor="let subcategory of category.subcategories; let subcategoryIndex=index">
          <ng-container *ngIf="subcategoryIndex === 0; then checkAllOptionSubcategoryItem else subcategoryItem">
          </ng-container>


          <ng-template #checkAllOptionSubcategoryItem>
            <z-list [index]="subcategoryIndex" [notPadding]="false" [clickable]="false"
              (elementSelected)="onSubcategoryCheckAllOptionSelected($event, index)">
              <div left class="checkbox-all-options-text-container">

                <z-checkbox [checkbox]="subcategory.checkbox"></z-checkbox>

              </div>
              <div primaryTitle>
                <p class="category--title--text"> {{subcategory.text}}</p>
              </div>
            </z-list>
          </ng-template>

          <ng-template #subcategoryItem>
            <div class="{{subcategoryIndex == (category.subcategories.length -1) ? 'last-subcategory-container' : '' }}">
            <z-list [index]="subcategoryIndex" [notPadding]="false"
              (elementSelected)="onSubcategorySelected($event, index)">
              <div primaryTitle>
                <p class="category--title--text category-list__subcategories-list__title"> {{subcategory.text}}</p>
              </div>
              <div right>
                <z-checkbox [checkbox]="subcategory.checkbox"></z-checkbox>
              </div>
            </z-list>
          </div>
          </ng-template>
        </div>

      </z-accordion>
    </div>

  </ng-template>


</div>