@import "~@zumo/core/colors";

.checkbox--all-items {
  padding-bottom: 16px;
}

.category--title--text {
  color: $color-grayscale-800;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: -0.1px;
  line-height: 24px;
}

.last-subcategory-container {

  &::ng-deep {

    .z-elements {

      border-bottom: unset !important;
    }
  }
}

.category-list {

  &__image {
    height: 24px;
    margin-right: 16px;
    width: 24px;
  }

  &__header {
    width: auto;
  }

  &__subcategories-list {
    background-color: $color-grayscale-200 !important;
  }
}

.headerTitle {
  display: flex;
  flex-flow: row nowrap;
  padding: 9px 0 9px 0;
}

.checkbox-all-options-text-container {

  &::ng-deep {

    .z-checkbox-container {
      margin-bottom: 12px !important;
    }
  }
}

.category-no-children-container {

  &::ng-deep {

    .z-elements {
      align-content: stretch;
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      padding: 14px 24px 14px 24px;
      width: auto;
    }

    .z-accordion-container__button__icon {
      color: $color-grayscale-800;
    }

  }
}

.accordion-container {

  &::ng-deep {

    .z-accordion-container__button {
      align-content: stretch;
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      padding: 14px 24px 14px 24px;
      width: auto;
    }

    .z-accordion-container__button__icon {
      color: $color-grayscale-800;
    }

    .z-elements__texts__sub-title {
      height: 0 !important;
      padding: 0 !important;
    }

    .z-elements {
      align-content: stretch;
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      padding: 12px 24px 12px 24px;
      width: auto;
    }

    .z-elements__right--element {
      padding-top: 12px !important;
    }

    .z-elements__left--element {
      margin-right: 8px !important;
      padding-top: 12px !important;
    }
  }

}
