.w-button-language {
  font-size: 18px;
  font-weight: 600;
}

.w-container-flag {
  margin-right: 16px;
  display: flex;
}

.w-flag {
  border-radius: 50%;
  height: 25px;
  width: 25px;
}

.w-texColorDark {
  color: #272C2E;
}

.w-texColorWhite {
  color: white;
}
