@import "src/scss/ubico/variables";
@import "src/scss/ubico/base";

.app-top-button {
  bottom: 2rem;
  box-shadow: 0 0 0.625rem #00000029;
  position: fixed;
  right: 2rem;

  ::ng-deep button {
    align-items: center;
    background-color: white;
    color: $secondary;
    font-size: 1.2rem;
    height: 3.125rem;
    padding: 0 1.1rem;
    width: 3.125rem;
  }
}
