<app-navbar-web [shadow]="true" [fixed]="false"></app-navbar-web>
<div class="spinner--container" *ngIf="loading">
  <z-loading type="primary" size="large"></z-loading>
</div>

<div *ngIf="!error">
  <div *ngIf="!loading">
    <div class="promo--container-ncom">
      <app-promo-detail-web *ngIf="promo" [promo]="promo" [featuredPromo]="selectedFeaturePromo">
      </app-promo-detail-web>
    </div>

    <app-empty-state-grid *ngIf="!promo" class="margin-top-32" [showOpenFilterButton]="true"
      (showFilter)="onErrorStateButtonPressed()" [emptyStateData]="emptyStateData">
    </app-empty-state-grid>
    <div class="separator" *ngIf="!promo"></div>
  </div>
</div>

<div *ngIf="error">
  <app-error-state (retryClicked)="retry()"></app-error-state>
</div>

<app-footer-ncom></app-footer-ncom>