@import "~@zumo/core/colors";

.paginator {
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.paginator li {
  display: inline-block;
}

:host {

  &::ng-deep {

    .paginator--page .z-btn {
      color: $color-grayscale-600 !important;
      font-family: Roboto !important;
      font-size: 18px !important;
      font-weight: normal !important;
    }

    .paginator--page--current .z-btn {
      background-color: #FFE0CC !important;
      color: $color-brand-500 !important;
      font-family: Roboto !important;
      font-size: 18px !important;
      font-weight: bold !important;
      opacity: 1 !important;
    }

    .paginator--page--current .z-btn:hover {
      background-color: #FFE0CC !important;
      color: $color-brand-500 !important;
      font-family: Roboto !important;
      font-size: 18px !important;
      font-weight: bold !important;
      opacity: 1 !important;
    }

    .paginator--left-arrow .z-btn {
      color: $color-grayscale-600 !important;
      font-family: Roboto !important;
      font-size: 24px !important;
      font-weight: normal !important;
    }

    .paginator--right-arrow .z-btn {
      color: $color-grayscale-600 !important;
      font-family: Roboto !important;
      font-size: 24px !important;
      font-weight: normal !important;
    }
  }
}
