<footer class="w2f-footer section">
  <div class="container">
    <div class="columns is-variable is-multiline w2f-footer__top">
      <div
        *ngFor="let column of dataFooter$ | async"
        class="column">      
        <h4 class="w2f-footer__title">{{column.name}}</h4>    
        <div class="w2f-footer__dots">
          <span class="w2f-footer__dot w2f-footer__dot--red"></span>
          <span class="ml-1 w2f-footer__dot w2f-footer__dot--skyblue"></span>
          <span class="ml-1 w2f-footer__dot w2f-footer__dot--blue"></span>
        </div>
        <ul class="w2f-footer__list" *ngFor="let subItem of column.subItems">
          <li class="w2f-footer__list-item">
            <a
              class="w2f-footer__list-link"
              [href]="subItem.url">
              {{subItem.name}}
            </a>
          </li>
        </ul>
        <div class="is-flex">
          <ul *ngFor="let icon of column.icons">
            <li>
              <a
                class="w2f-footer__icon"
                [href]="icon.url"><i
                  class="fab"
                  [class]="icon.name"
                  aria-hidden="false"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="w2f-footer__bottom columns is-variable is-multiline">
      <div class="column is-12">
        <hr class="w2f-footer__bottom-divider">
      </div>
      <div class="column is-12 is-8-desktop is-9-widescreen">
        <p class="w2f-footer__legal-text">
          {{ 'W2FLY.FOOTER.LEGAL_TEXT' | translate }}
        </p>
        <p class="w2f-footer__legal-text w2f-footer__legal-text--lightgrey">
          © {{ 'W2FLY.FOOTER.COPYRIGHT' |
          translate }}
        </p>
      </div>
      <div class="column is-12 is-4-desktop is-3-widescreen w2f-footer__security">
        <img
          src="assets/img/visa.png"
          width="100"
          alt>
        <img
          src="assets/img/visa.png"
          width="100"
          alt>
      </div>
    </div>
  </div>
  <svg class="w2f-footer__logo" xmlns="http://www.w3.org/2000/svg" width="322.181" height="496.333" viewBox="0 0 322.181 496.333">
    <path data-name="Trazado 5438" d="M648.074,301.5l-3.483.581H632.4A160.3,160.3,0,0,0,472.181,447.207l-.581,4.063H793.781V302.08H648.074Z" transform="translate(-471.6 45.063)" fill="#050a4e" opacity="0.32"/>
    <path data-name="Trazado 5439" d="M505.363,242.381,501.3,241.8V563.4l4.063-.58A160.755,160.755,0,0,0,650.49,402.6C650.49,319.008,588.376,250.508,505.363,242.381Z" transform="translate(-328.889 -241.8)" fill="#050a4e" opacity="0.32"/>
    <circle data-name="Elipse 212" cx="74.305" cy="74.305" r="74.305" transform="translate(0.581 27.284)" fill="#050a4e" opacity="0.32"/>
  </svg>
</footer>
