<div *ngIf="menu" class="columns has-same-height is-desktop is-gapless">
  <ng-container [ngSwitch]="menu.type">
    <ng-container *ngSwitchCase="menuType.DEFAULT">
      <div class="column column__solid" *ngIf="menu.title">
        <div class="column__solid-center">
          <h5 class="column__solid-text">{{menu.title}}</h5>
        </div>
      </div>
      <div *ngFor="let item of menu.subMenu;let last = last" class="column m-5" [class.columns__border-separator]="!last">
        <h4 class="columns__title">{{item.steps}}</h4>
        <ul>
          <li *ngFor="let option of item.options" class="is-flex is-align-content-center">
            <i class="fas mr-2 columns__icon" [class]="option.icon"></i>
            <a [routerLink]="option.url">{{option.name}}</a>
          </li>
        </ul>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="menuType.DESTINATION">
      <div class="m-2">
        <h4>Type: Destino</h4>
        <p>In Progress</p>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="menuType.SEARCH">
      <div class="column column__solid" *ngIf="menu.title">
        <div class="column__solid-center">
          <h5 class="column__solid-text">{{menu.title}}</h5>
        </div>
      </div>
    
      <div (click)="$event.stopPropagation()" class="columns is-multiline">
        <mat-form-field class="column  is-full p-5" appearance="fill">
          <input matInput placeholder="Escribe aquí tu pregunta">
          <i matPrefix class="mr-2 fas fa-search"></i>
        </mat-form-field>
        <div *ngFor="let item of menu.subMenu;let last = last" class="column p-0 mx-5 mb-3" [class.columns__border-separator]="!last">
          <h4 class="columns__title">{{item.steps}}</h4>
          <ul>
            <li *ngFor="let option of item.options" class="is-flex is-align-content-center">
              <i class="far mr-2 columns__icon" [class]="option.icon"></i>
              <a [routerLink]="option.url">{{option.name}}</a>
            </li>
          </ul>
        </div>
      </div>
    </ng-container>
  </ng-container> 
</div>
