<div *ngIf="menu" class="columns has-same-height is-desktop is-gapless">
  <div class="column column__solid" *ngIf="menu.title">
    <div class="column__solid-center">
      <h5 class="column__solid-text">{{menu.title}}</h5>
    </div>
  </div>
  <div *ngFor="let item of menu.subMenu;let last = last" class="column m-5" [class.columns__border-separator]="!last">
    <h4 class="columns__title">{{item.steps}}</h4>
    <ul>
      <li *ngFor="let option of item.options" class="is-flex is-align-content-center">
        <i class="far mr-2 columns__icon" [class]="option.icon"></i>
        <a [routerLink]="option.url">{{option.name}}</a>
      </li>
    </ul>
  </div>
</div>