@import "~@zumo/core/colors";

%container {
  padding: 24px 16px 0;
}

%container-ncom {
  padding: 5px 16px 0;
}

.BussinesRules-container {

  @extend %container;

  &--body {

    @extend %container;
    padding: 16px 16px 0;

  }
}

.message-container {
  padding-bottom: 24px;
}

.carousel--container {
  margin: auto;
  max-width: 1366px;
}

.spinner__container {

  &--initial {
    align-items: center;
    display: flex;
    height: 80vh;
    justify-content: center;
  }

  &--featured {
    align-items: center;
    display: flex;
    height: 45vh;
    justify-content: center;
  }

  &--suggested {
    align-items: center;
    display: flex;
    height: 45vh;
    justify-content: center;
  }
}

.promos--counter {
  color: $color-grayscale-800;
  font-family: Roboto;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.88;
}

.filter--container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.chips--container {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 16px;
  overflow-x: auto;
  z-index: 1;
}

:host /deep/ img:hover {
  cursor: pointer;
}

.promos--counter {
  color: #333333;
  font-family: Roboto;
  font-size: 26px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.2px;
  line-height: 1.88;
}

.filter--btn {
  align-items: center;
  display: flex;
  justify-content: space-between;

  &-empty {
    align-items: center;
    width: 100%;
  }

}

.filter--container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  // margin: 72px 0 20px;
}

.chips--container {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: auto;
}

.promotions--list {
  display: flex;
  flex-wrap: wrap;

  &__items {
    margin-top: 16px;
  }
}

.promos_container {
  margin: auto;
  max-width: 1122px;
  position: relative;
}

.BussinesRules--container {
  position: relative;
  top: -50px;
}
