<header class="w2f-booking-header">
  <div class="w2f-booking-header__back">
    <a href="#">
      <em class="fas fa-arrow-left"></em>
      Volver
    </a>
  </div>
</header>

<section class="w2f-booking">
  <div class="w2f-booking__carousel">
    <div class="w2f-booking__carousel-container">
        <h2>Carousel Here</h2> 
    </div>
  </div>
  <div class="w2f-booking__form">
    <div class="w2f-booking__form-container">
      <div class="w2f-booking__form-vuelo">
        <h2>Accede con tus datos de vuelo</h2>
        <p>Desde aquí podrás gestionar tu reserva y comprar cualquier otro servicio adicional que necesites.Recuerda que para comprar el servicio Premium Fly es necesario que lo hagas comprando el asiento "Premiun Fly"</p>
      </div>
      <div class="w2f-booking__form-widget-container">
        <div class="w2f-booking__form-widget">
          Aquí va el widget, eliminar div después de implementarlo
        </div>
      </div>
      <div class="w2f-booking__form-checking">
          <h3>Y podrás añadir</h3>
          <ul class="w2f-booking__form-checks">
            <li class="w2f-booking__form-checks-item"><em class="fas fa-check-circle"></em>Lorem, ipsum dolor.</li>
            <li class="w2f-booking__form-checks-item"><em class="fas fa-check-circle"></em>Lorem, ipsum dolor.</li>
            <li class="w2f-booking__form-checks-item"><em class="fas fa-check-circle"></em>Lorem, ipsum dolor.</li>
            <li class="w2f-booking__form-checks-item"><em class="fas fa-check-circle"></em>Lorem, ipsum dolor.</li>
            <li class="w2f-booking__form-checks-item"><em class="fas fa-check-circle"></em>Lorem, ipsum dolor.</li>
            <li class="w2f-booking__form-checks-item"><em class="fas fa-check-circle"></em>Lorem, ipsum dolor.</li>
          </ul>
      </div>
    </div>
  </div>
</section>