@import "src/scss/ubico/variables";

.app-divider-container {
  &__big-line {
    height: 0.9375rem;
    margin: 1.875rem 0;
    position: relative;
    width: 8.75rem;

    &--left {
      background-color: $green;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 6.875rem;
    }

    &--right {
      background-color: $green;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 0.9375rem;
    }
  }

  &__small-line {
    background: $green;
    height: 0.3125rem;
    margin-bottom: 0.9375rem;
    width: 3.75rem;
  }
}
