<section class="section section-info-text">
  <img src="assets/img/8.jpg" class="section-info-text__img" alt="img background">
  <div class="section-info-text__background">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-8-desktop">
          <div class="section-info-text__title">
            <blockquote>
              Ipsa aliquid, molestiae ipsam dolore quibusdam eos omnis.
            </blockquote>
          </div>
        </div>
      </div>
      <div class="columns is-centered">
        <div class="column is-8-desktop">
          <div class="section-info-text__text">
            <p>
              Impedit autem delectus nihil.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section-info-text">
  <div class="section-info-text__background">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-8-desktop">
          <div class="section-info-text__title">
            <blockquote>
              "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor"
            </blockquote>
          </div>
        </div>
      </div>
      <div class="columns is-mobile is-centered is-variable">
        <div class="column is-8-desktop">
          <div class="section-info-text__text">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>